@{
                /**/

                ViewBag.Title = "Sparkt | Star Plus | Baaghi 2";
                Layout = "~/Views/Shared/_LayoutWork.cshtml";
                ViewBag.MetaTitle = "Sparkt | Star Plus | Baaghi 2";
                ViewBag.MetaDescription = "Engaging visual content";
                ViewBag.MetaURL = "https://sparkt.in/work/Baaghi-2";
                ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/bhaghi-2-thum.jpg";
}
@section BodyClass {star-plus}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/bhaghi-2-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Baaghi 2</h1>
                <div class="clear"></div>
                <span>Engaging visual content</span>
            </div>
        </div>

        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp star-new-bg">
            <div class="assets-carousel ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Highlighting key moments from the content using VFX to generate anticipation about the World Television Premier of the film Baaghi 2</h3>
                                </div>


                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/U0DZTgtb4mk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/U0DZTgtb4mk" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/wFqZo4X8MNY/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/wFqZo4X8MNY" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/m5xYGoa3sIE/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/m5xYGoa3sIE" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/baaghi2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/PggDt6pz_RU" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/baaghi1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/MAmBfjkGcpI" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Y_xXKZ7w3P0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Y_xXKZ7w3P0" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/FsgcRDy7ui0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/FsgcRDy7ui0" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/baaghi3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/VoTVJE8TDHw" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/dMoyBOK5p2w/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/dMoyBOK5p2w" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/U0DZTgtb4mk/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/wFqZo4X8MNY/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/m5xYGoa3sIE/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/baaghi2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/baaghi1.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Y_xXKZ7w3P0/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/FsgcRDy7ui0/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/baaghi3.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/dMoyBOK5p2w/maxresdefault.jpg" alt="" /></a> </div>





                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

