
@{
    //ViewBag.Title = "BhartiAxaPolicy";
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.Title = "Sparkt Work | Bharti AXA";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Bharti AXA";
    ViewBag.MetaDescription = "Policy Redesign";
    ViewBag.MetaURL = "https://sparkt.in/work/BhartiAxaPolicy";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/bharti-axa-policy-thum.jpg";
}
@section BodyClass {bharti-axa}
<main>
    <div class="section white-bg">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/bharti-exa-policy-cover.jpg');"> </div>
            </div>
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
                <h1>Bharti AXA</h1>
                <div class="clear"></div>
                <span>Policy Redesign</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section white-bg">
        <div class="head-title floated  text-color-dark">
            <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel ">
                <div class="slider">
                    <div>
                        <div class="creative-assets" style="background-image: url('/Content/work/images/axa-slide-1.jpg'); background-attachment: scroll; background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets" style="background-image: url('/Content/work/images/axa-slide-2.jpg'); background-attachment: scroll; background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets" style="background-image: url('/Content/work/images/axa-slide-3.jpg'); background-attachment: scroll; background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets" style="background-image: url('/Content/work/images/axa-slide-4.jpg'); background-attachment: scroll; background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets" style="        background-image: url('/Content/work/images/axa-slide-5.jpg');
        background-attachment: scroll;
        background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets" style="background-image: url('/Content/work/images/axa-slide-6.jpg'); background-attachment: scroll; background-position: center top">
                            <div class="container">
                                <div class="assets-title text-color-dark">
                                    <h3 style="color: #434343">Consumer-friendly documents that are contextually relevant</h3>
                                </div>
                                <div style="width: 1px ; height: 37vw;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--<div class="section white-bg">
    <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
        <h2>Results</h2>
      </div>

      <div class="container">
        <div class="quotes-wrapp">
          <div class="quotes">
            <h3>Coming Soon</h3>
            <span class="quotes-writer"></span> </div>
        </div>
      </div>
    </div>-->
</main>

