
@{
    ViewBag.Title = "Sparkt Work | Bharti AXA - Cop App";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Bharti AXA- Cop App";
    ViewBag.MetaDescription = "Crop Insurance Reimagined";
    ViewBag.MetaURL = "https://sparkt.in/work/bharti-axa-cop-app";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/bharti-axa-cop-app-thum.jpg";
}

    <main>
        <div class="section white-bg">
            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video">
                        <video class="bannerplayer" poster="/Content/work/images/banners/bharti-axa-cop-app-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                            <source type="video/youtube" src="https://youtu.be/4WpHspkTUBs" />
                        </video>
                    </div>
                    <div class="banner-image" style="background-image: url(/Content/work/images/banners/jungle-book-cover.jpg);"> </div>
                </div>
                <div class="head-title floated text-color-dark">
                    <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>Bharti AXA Cop App</h1>
                    <div class="clear"></div>
                    <span>Crop Insurance Reimagined</span>
                </div>
            </div>
            @Html.Partial("_WorkMenu")
        </div>
        <div class="section white-bg">
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative Assets</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel fixed " style="background-image: url('/Content/work/images/bharti-axa-cop-app-bg.jpg');">
                    <div class="slider">
                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title ">
                                        <h3 style="color: #434343;">Indian Farmers New Friend</h3>
                                    </div>
                                    <div class="project fadeIn" data-t-show="1">
                                        <div class="project__card"> <a class="project__image"><img src="/Content/work/images/b-a-copp-app.png" alt=""></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

