
@{
    ViewBag.Title = "Sparkt | BirlaExcelPutty";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Birla Excel Putty";
    ViewBag.MetaDescription = "Seeing is believing";
    ViewBag.MetaURL = "http://sparkt.in/work/birla-excel-putty";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/birla-excel-putty-thum.jpg";
}

@section BodyClass {others}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="../Content/work/images/banners/birla-excel-putty-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/jfo6VsqeOvk" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('../Content/work/images/banners/birla-excel-putty-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
                <h1>Birla Excel Putty</h1>
                <div class="clear"></div>
                <span>Seeing is believing</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu");
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel birla-putty-bg ">
                <div class="slider">



                    <div class="video-carousel ">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Marble that is a marvel</h4>
                                </div>


                                <div class="video-slider">

                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/NCzzgGXwRIQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/NCzzgGXwRIQ" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/E6h_8PoWcfE/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/E6h_8PoWcfE" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/utP-h5sQbyA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/utP-h5sQbyA" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/XiO1fcVc1Cc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/XiO1fcVc1Cc" type="video/youtube" />
                                        </video>
                                    </div>


                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/dy9gShZDd8A/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/dy9gShZDd8A" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/jfo6VsqeOvk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/jfo6VsqeOvk" type="video/youtube" />
                                        </video>
                                    </div>
                                </div>


                            </div>

                        </div>


                        <div class="video-nav">

                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/NCzzgGXwRIQ/maxresdefault.jpg" alt="" /><span class="caption">HINDI</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/E6h_8PoWcfE/maxresdefault.jpg" alt="" /><span class="caption">Telugu</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/utP-h5sQbyA/maxresdefault.jpg" alt="" /><span class="caption">Kannada</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/XiO1fcVc1Cc/maxresdefault.jpg" alt="" /><span class="caption">TAMIL</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/dy9gShZDd8A/maxresdefault.jpg" alt="" /><span class="caption">Bengali</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/jfo6VsqeOvk/maxresdefault.jpg" alt="" /><span class="caption">English</span></a> </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
