
@{
    ViewBag.Title = "Sparkt | Boutique Living";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Boutique Living";
    ViewBag.MetaDescription = "Bringing a world-conquering brand to its homeland in India";
    ViewBag.MetaURL = "https://sparkt.in/work/bql";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/boutique-thum.jpg";
}
@section BodyClass {others}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/bql-cover.jpg);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Boutique Living</h1>
                <div class="clear"></div>
                <span>Bringing a world-conquering brand to its homeland in India</span>
            </div>
           
        </div>

        @Html.Partial("_WorkMenu");
       
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel pink-grey-bg ">
                <div class="slider">



                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Seamless online shopping experience</h3>
                                    <p>Luxurious bedding solutions made available online through a responsive website showcasing over 120 designs spread across 16 collections.</p>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="~/Content/work/images/bql-desktop.jpg" style="max-width: 100%;" preload="none" controls="False" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/desktop.mp4" type="video/mp4" >
                                            <source src="media/desktop.ogg" type="video/ogg" >-->
                                        </video>
                                        <script> document.getElementById( "desktop" ).controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/bql-mobile.jpg" style="max-width: 100%;" preload="none" controls="false" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/mobile.mp4" type="video/mp4" >
                                            <source src="media/mobile.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <a href="https://boutiquelivingindia.com/" target="_blank" class="view-website">VIEW WEBSITE</a>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title ">
                                    <h3>Boutique living launched in india</h3>
                                    <p>Opened doors to an aspirational bedding solutions brand in the country through an omni-channel marketing campaign</p>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class="three-img-carousel">
                                        <div> <img src="~/Content/work/images/bql-creative2.jpg" alt="" /></div>
                                        <div><img src="~/Content/work/images/bql-creative3.jpg" alt="" /></div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
           <h2>Results</h2>
         </div>-->

        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Sparkt has been instrumental in helping us kickstart our e-commerce initiatives. Besides sharing valuable info & guiding us along the way, they also helped us in setting up a flawless customer buying experience with product promotion insights.</h3>
                    <span class="quotes-writer">Roshan Paul - Sr. Manager at Boutique Living (Indo Count)</span>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/work/css/style.css" rel="stylesheet" />
</main>
