
@{
    ViewBag.Title = "Sparkt | Star Plus | Dance+2";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Dance+2";
    ViewBag.MetaDescription = "Getting the nation to dance to our tune with <br>video innovations and thumbstopping content";
    ViewBag.MetaURL = "https://sparkt.in/work/DancePlus2";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/danceplus-thum.jpg";
}
@section BodyClass {star-plus}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "Dance+2 Video",
    "@@id": "https://www.sparkt.in/Content/work/media/socailMediavideo1.mp4",
    "url":"https://www.sparkt.in/Content/work/media/socailMediavideo1.mp4",
    "description": "Getting the nation to dance to our tune with video innovations and thumbstopping content",
    "duration": "T7S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/media/socailMediavideo1.jpg",
    "uploadDate":"05/01/2018"
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/dance-plus-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/Mr9m3LEtgrg" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/dance-plus-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Dance+2</h1>
                <div class="clear"></div>
                <span>Getting the nation to dance to our tune with <br>video innovations and thumbstopping content</span>
            </div>
           
        </div>       
        <div class="awards-wrap">
            <ul>
                <li class="tooltip small-awards" title="mCube: Best Social Media Marketing Campaign - Gold"><img src="~/Content/work/images/awards/mCube-gold.png" class="responsive-img" alt="" /> </li>

            </ul>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel youtube-bg ">
                <div class="slider">
                    <div>
                        <div class="creative-assets " style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Digital exclusive content powered by influencers from the show and the channel</h4>
                                </div>
                                <div class="slickSlider-3d">
                                    <span class="mobileOverlay"> <img src="~/Content/work/images/mobileoverlayimg.png" class="portrait" alt="" /> <img src="~/Content/work/images/mobileoverlayimgHorizen.png" class="horizontal" alt="" /> </span>
                                    <div class="slickContainer">
                                        <div class="slickSlider">
                                            <div class="pinkGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo1.jpg" id="first-video">
                                                    <source src="~/Content/work/media/socailMediavideo1.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="redGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo2.jpg">
                                                    <source src="~/Content/work/media/socailMediavideo2.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="greenGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo3.jpg">
                                                    <source src="~/Content/work/media/socailMediavideo3.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="redGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo4.jpg">
                                                    <source src="~/Content/work/media/socailMediavideo4.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="pinkGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo5.jpg">
                                                    <source src="~/Content/work/media/socailMediavideo5.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                            <div class="purpleGradient">
                                                <video loop poster="~/Content/work/media/socailMediavideo6.jpg">
                                                    <source src="~/Content/work/media/socailMediavideo6.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Video innovation to greet key show markets with customised messages on YouTube</h3>
                                </div>
                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/dance-plus-2-creative-approch.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets dance-plus-bg">
                            <div class="container">
                                <div class="assets-title">                                    
                                    <h3>Driving dance hysteria across the country for the <br>auditions with a socially integrated website</h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="~/Content/work/images/dance-plus-2-desktop.jpg" style="max-width: 100%;" preload="none" controls="False" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/desktop.mp4" type="video/mp4" >
                                            <source src="media/desktop.ogg" type="video/ogg" >-->
                                        </video>
                                        <script> document.getElementById( "desktop" ).controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/dance-plus-2-mobile.jpg" style="max-width: 100%;" preload="none" controls="false" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/mobile.mp4" type="video/mp4" >
                                            <source src="media/mobile.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <!--<a href="#" class="view-website" >VIEW WEBSITE</a>-->

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIEWS</span> <span class="result-points">16</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">YOUTUBE VIEWS</span> <span class="result-points">9.9</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">TOTAL IMPRESSIONS</span> <span class="result-points">35</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">TOTAL ENGAGEMENT</span> <span class="result-points">100K+</span> <span class="result"></span> </div>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon</h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>
        </div>*@
    </div>
</main>

