
@{
    ViewBag.Title = "Sparkt Work | M.S. Dhoni - The Untold Story";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/dhoni-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/XLMOOFbQfNw" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/dhoni-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>
                    M.S. Dhoni <br>
                    The Untold Story
                </h1>
                <div class="clear"></div>
                <span>Thumb-stopping digital campaign to build excitement for World Television Premiere</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu");

    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed youtube-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>STAYING TRUE TO THE HIGH CINEMATIC AND EMOTIONAL VALUE OF THE MOVIE WITH DYNAMIC CONTENT FORMATS.</h3>
                                </div>
                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/GUjt8GUbCA8" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HhPBr0d5Czw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/tdsYWuNkTsg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb4.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/FRw2rYx5nkQ" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb5.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/vtfYvS0jR_c" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb6.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/avcEK69ezNo" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/dhoni-video-thumb7.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/waVqD92Qdx4" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb1.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb3.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb4.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb5.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb6.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/dhoni-video-thumb7.jpg" alt="" /></a> </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets" style="background-image: url(../Content/work/images/star-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>BREAKING THE CODE BY DELIVERING AN ELEVATED IMMERSIVE EXPERIENCE.</h3>
                                </div>

                                <div class="three-img-grid-wrapp">
                                    <div class="grid">
                                        <img src="~/Content/work/images/dhoni-boomerang1.gif" alt="" />
                                    </div>
                                    <div class="grid">
                                        <img src="~/Content/work/images/dhoni-boomerang2.gif" alt="" />
                                    </div>
                                    <div class="grid">
                                        <img src="~/Content/work/images/dhoni-boomerang3.gif" alt="" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">21.8</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">28</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">273</span> <span class="result">THOUSAND +</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        M.S. Dhoni was a big-ticket movie premiere for us and we wanted to deploy unconventional marketing methods to highlight the marvel of both, the character and the cricketer. Sparkt curated key movie moments and paired them with cinematic content to enhance the emotional value of the content, compelling the audience to watch the full movie when it aired on TV.
                    </h3>
                    <span class="quotes-writer">Aijaz Nakhuda - Digital Marketing Head - Star Plus</span>
                </div>
            </div>
        </div>
    </div>
</main>

