@{
    ViewBag.Title = "Sparkt | Star Plus | Divya Drishti Innovation";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt |  Star Plus | Divya Drishti Innovation";
    ViewBag.MetaDescription = "Interactive AR Extension";
    ViewBag.MetaURL = "https://sparkt.in/work/Divya-Drishti-Innovation";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/divya-drishti-innovation-thum.jpg";
}
@section BodyClass {star-plus}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/divya-drishti-innovation-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Divya Drishti</h1>
                <div class="clear"></div>
                <span>Interactive AR Extension</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel star-new-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Extend the content differentiator of the show Divyadrishti through an interactive AR experience for its potential audience</h3>
                                </div>
                                <div class="mobile-experience center-mobile">
                                    <figure>
                                        <div class="vibrate-img sample-mobile">
                                            <img src="/Content/work/images/thevoice-mobile-creative.png" alt="" />
                                            <video id="mobile" poster="/Content/work/images/divya-drishti-anim.gif" style="max-width: 100%;" preload="none" controls="false" muted autoplay loop playsinline webkit-playsinline>
                                                <!--<source  src="media/the-voice.mp4" type="video/mp4" >-->

                                            </video>
                                            <script>document.getElementById("mobile").controls = false;</script>
                                        </div>
                                        <figcaption>

                                            <div class="clear"></div>
                                            <a class="hvr-sweep-to-right " href="https://www.facebook.com/fbcameraeffects/tryit/442670222939809/" target="_blank"> Open your third eye</a>
                                            <div class="clear"></div><br>
                                            <a class="hvr-sweep-to-right " href="https://www.facebook.com/fbcameraeffects/tryit/549533678861856/" target="_blank"> Unleash your power</a>
                                            <div class="clear"></div><br>
                                            <a class="hvr-sweep-to-right " href="https://www.facebook.com/fbcameraeffects/tryit/1102656629906425/" target="_blank"> Awaken the evil in you</a>


                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

