@{
    ViewBag.Title = "Sparkt | Dubsmash";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Dubsmash";
    ViewBag.MetaDescription = "A video messaging app for the creation of dubs and memes.";
    ViewBag.MetaURL = "https://sparkt.in/work/Dubsmash";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/dubsmash-thum.jpg";
}
@section BodyClass {others}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="/Content/work/images/banners/dubsmash-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/N5eYd5N3axI" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('/Content/work/images/banners/dubsmash-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Dubsmash</h1>
                <div class="clear"></div>
                <span>A video messaging app for the creation of dubs and memes. </span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp  dubsmash-bg">
            <div class="assets-carousel" style="background-image: url('/Content/work/images/dubsmash-bg-vector.png'); background-size: 100% 100%; background-attachment: scroll">
                <div class="slider">
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Content Curation & Partnerships in the Region with Media & Entertainment Partners.</h3>
                                </div>

                                <div class="sparkt-carousel square dubsmash-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash7.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/6rlozOzXLQw" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash6.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Q7_w11EwxEc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash5.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/FX-lhTA8sBc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash4.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/vkXU-2H0Jqs" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/5I4bM-yigps" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HsrodXBIhyU" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/dubsmash1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/1zsMV1RGvlo" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash7.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash6.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash5.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash4.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash3.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/dubsmash1.jpg" alt="" /></a> </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
</main>
