
@{

    ViewBag.Title = "Sparkt | Editage Insigts";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Editage Insigts";
    ViewBag.MetaDescription = "Packaged the content in an effective manner to alleviate the brand’s perception";
    ViewBag.MetaURL = "https://sparkt.in/work/editinsights";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/editage-thum.jpg";
}
@section BodyClass {editage}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "Editage Insigts Video",
    "VideoList": [{
    "@@type":
    "@@id": "https://youtu.be/HBPHq9k-8cE",
    "url":"https://youtu.be/HBPHq9k-8cE",
    "description": "Packaged the content in an effective manner to alleviate the brand’s perception.",
    "duration": "07S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/editage-video-1.png",
    "uploadDate":"05/01/2018",
    }]
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(/Content/work/images/banners/editage-insight-banner.jpg);">
                </div>

            </div>


            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>EDITAGE INSIGHTS</h1>
                <div class="clear"></div>
                <span>Packaged the content in an effective manner to alleviate the brand’s perception</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  " style="background-image: url(/Content/work/images/editage-bg.jpg);">
                <div class="slider">


                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Created a strong visual identity to target <br>the right audience </h3>
                                </div>
                                <div class="sparkt-carousel square-wrapp">
                                    <div class="mobile-wrapp square">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="/Content/work/images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <img src="/Content/work/images/editage-slide-1.png" alt="">
                                            </div>
                                            <div class="video-item">
                                                <img src="/Content/work/images/editage-slide-2.png" alt="">
                                            </div>
                                            <div class="video-item">
                                                <img src="/Content/work/images/editage-slide-3.png" alt="">
                                            </div>

                                            <div class="video-item">
                                                <img src="/Content/work/images/editage-slide-4.png" alt="">
                                            </div>
                                            <div class="video-item">
                                                <img src="/Content/work/images/editage-slide-5.png" alt="">
                                            </div>




                                        </div>
                                        <span class="push-elem "><img src="/Content/work/images/push-charactor.png" alt="" /></span>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-slide-1.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-slide-2.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-slide-3.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-slide-4.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-slide-5.png" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Packaged the content in an effective manner to </br> alleviate the brand’s perception</h3>
                                </div>
                                <div class="sparkt-carousel square-wrapp">
                                    <div class="mobile-wrapp square">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="/Content/work/images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-1.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HBPHq9k-8cE" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-2.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/he_lHJsqbIc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-3.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/3FL-HpNYIMg" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-4.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/InA98rX-Wws" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-5.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/LTWbAR-qQFQ" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-6.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/jVmPT_HPMSM" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/editage-video-7.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/M4qBe2bijCM" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                        <span class="push-elem "><img src="/Content/work/images/push-charactor.png" alt="" /></span>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-1.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-2.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-3.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-4.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-5.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-6.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/editage-video-7.png" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="section white-bg">
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Results</h2>
            </div>
            <div class="container bottom-padding-none">
                <div class="result-wrapp">
                    <ul class="fadeUp t-infinity">
                        <li class="col-3 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">VIDEO CONSUMPTION</span> <span class="result-points">72</span> <span class="result">MILLION</span> </div>
                        </li>
                        <li class="col-3 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">303</span> <span class="result">MILLION</span> </div>
                        </li>
                        <li class="col-3 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">WHATSAPP BROADCAST</span> <span class="result-points">41</span> <span class="result">MILLION</span> </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="quotes-wrapp">
                    <div class="quotes">
                        <h3></h3>
                        <span class="quotes-writer"></span>
                    </div>
                </div>
            </div>
        </div>*@
</main>