
@{
    ViewBag.Title = "Sparkt Work | Gandhi Fellowship";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Gandhi Fellowship";
    ViewBag.MetaDescription = "Corporate Overview";
    ViewBag.MetaURL = "https://sparkt.in/work/GandhiFellowship";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/GandhiFellowship.jpg";
}

@section BodyClass {GandhiFellowship}
<main>
    <h2>GandhiFellowship</h2>
</main>


