
@{
    ViewBag.Title = "Sparkt Work | Har Shaakh Pe Ullu Baithaa Hai";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Har Shaakh Pe Ullu Baithaa Hai";
    ViewBag.MetaDescription = "Kya Ullu Banaya";
    ViewBag.MetaURL = "http://sparkt.in/work/HSPubh";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/hsubh-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/hsubh-cover.jpg);">
                </div>

            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Har Shaakh Pe <br>Ullu Baithaa Hai</h1>
                <div class="clear"></div>
                <span>Kya Ullu Banaya</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>A series of films with Journalist Khoji interviewing <br>Chaitu Lal in the kitsch Indian Breaking News style</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/P8vMoL_bRjs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/P8vMoL_bRjs" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/c98DFmWEF2I/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/c98DFmWEF2I" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/0TJpL1JPeEU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/0TJpL1JPeEU" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/5yBw1YcR2eI/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/5yBw1YcR2eI" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/0WElSVbq9Ow/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/0WElSVbq9Ow" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/sY8JfK9MPUA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/sY8JfK9MPUA" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/gIbRoYOxsNI/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/gIbRoYOxsNI" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/qksvjirh7a4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/qksvjirh7a4" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/s4_QIiYQwvY/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/s4_QIiYQwvY" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/P8vMoL_bRjs/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/c98DFmWEF2I/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/0TJpL1JPeEU/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/5yBw1YcR2eI/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/0WElSVbq9Ow/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/sY8JfK9MPUA/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/gIbRoYOxsNI/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/qksvjirh7a4/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/s4_QIiYQwvY/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets aaj-ki-adalat-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Aaj ki Adalat - taking Chaitu Lal’s character to court <br>with a parody of a famous INDIAN interview show</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!--  <span class="chaitu-elem elem-8" ><img src="images/chaitulal-aaj-ki-adalat.png" alt=""/></span>-->
                                        <span class="hotstar-elem elem-2"><img src="~/Content/work/images/hotstar-logo.png" alt="" /></span>
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/chaitulal-aaj-ki-adalat-1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/eeoG_SPgJVI" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets red-base-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Bringing Chaitu Lal into popular conversations <br>online with contextual video ads</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <span class="youtube-elem elem-1"><img src="~/Content/work/images/youtube-c-panel.png" alt="" /></span>
                                        <span class="youtube-elem elem-2"><img src="~/Content/work/images/youtube.png" alt="" /></span>

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/Gv5UjvNME7Y/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Gv5UjvNME7Y" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/wcymM8qre4o/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/wcymM8qre4o" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/XaOwcWCdBRM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/XaOwcWCdBRM" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/Tjo2_8HNpmg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Tjo2_8HNpmg" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/Gv5UjvNME7Y/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/wcymM8qre4o/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/XaOwcWCdBRM/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/Tjo2_8HNpmg/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets hotstar-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Interventions by Chaitu Lal on <br>Hotstar’s MOST popular videos</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <span class="hotstar-elem elem-1"><img src="~/Content/work/images/hotstar-elem-1.png" alt="" /></span>
                                        <span class="hotstar-elem elem-2"><img src="~/Content/work/images/hotstar-logo.png" alt="" /></span>

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/lhwRDAHwr7g/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/lhwRDAHwr7g" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/155O7oP1v7s/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/155O7oP1v7s" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/TBNzBHOTaCc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/TBNzBHOTaCc" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/lhwRDAHwr7g/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/155O7oP1v7s/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/TBNzBHOTaCc/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Chaitu Lal's Political Promises <br>brought alive with an animated avatar</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        @*<span class="chaitu-elem elem-1"><img src="~/Content/work/images/chaitulala-elem-1.png" alt="" /></span>*@
                                        <!--<span class="chaitu-elem elem-2" ><img src="images/chaitulala-elem-2.png" alt=""/></span>
                                        <span class="chaitu-elem elem-3" ><img src="images/chaitulala-elem-3.png" alt=""/></span>-->
                                        @*<span class="chaitu-elem elem-4"><img src="~/Content/work/images/chaitulala-elem-4.png" alt="" /></span>
                                        <span class="chaitu-elem elem-5"><img src="~/Content/work/images/chaitulala-elem-5.png" alt="" /></span>
                                        <span class="chaitu-elem elem-6"><img src="~/Content/work/images/chaitulala-elem-6.png" alt="" /></span>*@
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/chaitulal-anim-thum-1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/PtyjF-6Lajk" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/chaitulal-anim-thum-2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/mwWqTSilvIE" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/chaitulal-anim-thum-3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/PPCj00dXr14" type="video/youtube" />
                                                </video>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/chaitulal-anim-thum-1.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/chaitulal-anim-thum-2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/chaitulal-anim-thum-3.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIDEO CONSUMPTION</span> <span class="result-points">72</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">303</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">WHATSAPP BROADCAST</span> <span class="result-points">41</span> <span class="result">MILLION</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Sparkt helped set context and drive intrigue for this political satire exploring an insight that is truest to India as a politically passionate yet easily misled nation - #KyaUlluBanaya. This campaign made waves across demographics rightly capturing the sentiment of the the common mass - paving way for a whole lot of digital conversations. The communication was further reinforced with thematic short-format content bringing alive the white lies of the lead protagonist. With Aaj ki Adalat, Sparkt produced a differentiated branded content piece that was released on Hotstar and remains a benchmark in parallel storytelling beyond on-air content. </h3>
                    <span class="quotes-writer">- Aijaz Nakhuda, Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat)</span>
                </div>
            </div>
        </div>
    </div>
</main>
