
@{
    ViewBag.Title = "Sparkt Work | Ikyawann";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ikyawann-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/kxRe7kSkBUo" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ikyawann-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Ikyawann</h1>
                <div class="clear"></div>
                <span>Wear your Mother's name with pride.</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu");
        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="DIGIXX: Best Use of TV Show Promotion - Gold"><img src="~/Content/work/images/awards/digx-gold.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="CIDCA    : Viral Marketing Campaign - Bronze"><img src="~/Content/work/images/awards/cidca-2018-bronze.png" class="responsive-img" alt="" /> </li>
            </ul>
        </div>

      
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel twitter-bg ">
                <div class="slider">
                    <div>
                        <div class="creative-assets" style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>BUILDING #NOTSHAADIMATERIAL CONVERSATIONS WITH UGC VIDEOS ALONG WITH A SET OF EXCLUSIVE CONTENT LINKING THE COMMUNICATION TO THE CHARACTER</h4>
                                </div>
                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/ikyawann-what-is-shadi-material.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/NiNebU3jiLw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/ikyawann-not-shadi-material.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/1Ged71Uw3Cg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/cHljxDT1PCs" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/btw7MWQdbQM" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/uyIEfFSA4uU" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/ikyawann-what-is-shadi-material.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/ikyawann-not-shadi-material.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth1.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/ikyawann-not-shadi-material-myth3.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>#NOTSHAADIMATERIAL BECAME A TRENDING TOPIC ORGANICALLY DRAWING IN THE VIEWERS AND THE INFLUENCERS ALIKE</h3>
                                </div>
                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/ikyawann-creative-approch.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets blue-gradient-background">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>#NOTSHAADIMATERIAL Organically made it to the Headlines of bombay times with A 2-Page article listing multiple responses from women all over india</h4>
                                </div>
                                <div class="newspaper">
                                    <figure>
                                        <img src="~/Content/work/images/bombay-times.png" alt="" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none ">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">BUSINESS IMPACT</span> <span class="result-points">22%</span> <span class="small">INCREASED REACH ON THE 8:30 PM SLOT (WEEKDAYS) FOR STAR PLUS</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">TWITTER TREND</span> <span class="result-points">13 hrs.</span> <span class="small">#NotShaadiMaterial trending duration on launch day</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">SENTIMENT</span> <span class="result-points">99%</span> <span class="small">POSITIVE SENTIMENT FOR THE SHOW</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Star Plus has always supported gender equality, encouraging women to stand up for their identity. Taking forth this philosophy of Nayi Soch, Sparkt helped create an organic storm of conversations rooted in a culturally potent insight that engaged both influencers & the audience alike. The powerful, polarising stimulus? #NotShaadiMaterial.</h3>
                    <span class="quotes-writer">Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat)</span>
                </div>
            </div>
        </div>
    </div>
</main>
