
@{
    ViewBag.Title = "Sparkt Work | Indiabulls-Blu";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Indiabulls blu";
    ViewBag.MetaDescription = "Higher Still";
    ViewBag.MetaURL = "https://sparkt.in/work/indiabulls-blu";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/indiabulls-blu-thum.jpg";
}

    <main>
        <div class="section">
            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/indiabulls-blu-cover.jpg');"> </div>
                </div>
                <div class="head-title floated">
                    <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>India Bulls Blu</h1>
                    <div class="clear"></div>
                    <span>Higher Still </span>
                </div>
            </div>
            @Html.Partial("_WorkMenu")
        </div>
        <div class="section">
            <div class="head-title floated ">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative Experience</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel indiabulls-blu-bg ">
                    <div class="slider">
                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>Experience the grandeur of Blu</h3>
                                    </div>
                                    <div class="website-operation">
                                        <figure class="figure-img"> <img src="/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                        <div class="desktop-video">
                                            <video id="desktop" style="max-width: 100%; background-image: url('/Content/work/images/indiabulls-blu-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                                <source  src="~/Content/work/media/indiabulls-blu-desktop.mp4" type="video/mp4" >

                                            </video>
                                            <script>document.getElementById( "desktop" ).controls = false;</script>
                                        </div>
                                        <div class="mobile-video">
                                            <video id="mobile" style="max-width: 100%; background-image: url('/Content/work/images/indiabulls-blu-mobile.jpg');" preload="none" controls="false" muted autoplay loop playsinline webkit-playsinline>
                                                <source  src="~/Content/work/media/indiabulls-blu-mobile.mp4" type="video/mp4" >

                                            </video>
                                            <script>document.getElementById("mobile").controls = false;</script>
                                        </div>

                                        <!--<a href="https://piramalfinance.com/" target="_blank" class="view-website" >VIEW WEBSITE</a>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

