
@{
    ViewBag.Title = "Sparkt | Star Plus | Ishqbaaaz";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Ishqbaaaz";
    ViewBag.MetaDescription = "Bringing alive the characters of the three brothers and their special bond with exclusive digital content";
    ViewBag.MetaURL = "http://sparkt.in/work/IshqBaaaz";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/ishqbaaaz-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ishaqbaaaz-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/7_B3nzXFQAA" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ishaqbaaaz-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Ishqbaaaz</h1>
                <div class="clear"></div>
                <span>Bringing alive the characters of the three brothers and their special bond with exclusive digital content</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel " style="background-image: url(../Content/work/images/nach-creative-assets-bg.jpg);">
                <div class="slider">
                    <div>
                        <div class="creative-assets" style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>First Hindi GEC in India to produce 360 videos as digital content <br>Micro moments capturing the relationship of the three brothers</h4>
                                </div>
                                <div class="mobile-style-carousel ">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://i3.ytimg.com/vi/f5DNxxlSOs8/mqdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/f5DNxxlSOs8" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://i3.ytimg.com/vi/WCop4EgZVmE/mqdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/WCop4EgZVmE" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://i3.ytimg.com/vi/e5WF0BgyeJs/mqdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/e5WF0BgyeJs" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://i3.ytimg.com/vi/XKrmrrRVGTc/mqdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/XKrmrrRVGTc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://i3.ytimg.com/vi/0Ne_QVhtKoU/mqdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/0Ne_QVhtKoU" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://i3.ytimg.com/vi/f5DNxxlSOs8/mqdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://i3.ytimg.com/vi/WCop4EgZVmE/mqdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://i3.ytimg.com/vi/e5WF0BgyeJs/mqdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://i3.ytimg.com/vi/XKrmrrRVGTc/mqdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://i3.ytimg.com/vi/0Ne_QVhtKoU/mqdefault.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">Video VIEWS</span> <span class="result-points">10</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">20</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">53</span> <span class="result">MILLION +</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            @*<div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon</h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>*@
        </div>
    </div>
</main>