
@{
    ViewBag.Title = "Sparkt Work | The Jungle Book";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/jungle-book-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/r0YbzpJA1cM" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/jungle-book-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>The Jungle Book</h1>
                <div class="clear"></div>
                <span>Building anticipation for World Television Premiere through a distinctive digital experiential campaign</span>
            </div>
            @Html.Partial("_WorkMenu");
        </div>


        
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>RICH EXPERIENCES WHICH ARE VISUALLY DISRUPTIVE AND GO WELL BEYOND STANDARD TO TRULY ENGAGING THE USER.</h3>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class="three-img-carousel">
                                        <div><img src="~/Content/work/images/mowgli-creative.gif" alt="" /></div>
                                        <div><img src="~/Content/work/images/mowgli-creative2.gif" alt="" /></div>
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/WBuXXoFeJIs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/WBuXXoFeJIs" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>DYNAMIC CONTENT FORMATS TO BUILD <br>TRUE ANTICIPATION FOR THE PREMIERE.</h3>
                                </div>

                                <div class="three-img-grid-wrapp">
                                    <div class="grid">
                                        <img src="~/Content/work/images/mowgli-creative4.gif" alt="" />
                                    </div>
                                    <div class="grid">
                                        <img src="~/Content/work/images/mowgli-creative5.gif" alt="" />
                                    </div>
                                    <div class="grid">
                                        <img src="~/Content/work/images/mowgli-creative6.gif" alt="" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">2.2</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">3.7</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">49</span> <span class="result">THOUSAND +</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        For the Jungle Book World TV premiere, we turned things up a notch to match the visual spectacle of the movie. Sparkt played a pivotal role to elevate the experience of the fans by employing visually rich and disruptive content formats.<br><br>
                        And once again, Star Plus was successful in seamlessly integrating the world of television and digital together.
                    </h3>
                    <span class="quotes-writer">Aijaz Nakhuda - Digital Marketing Head - Star Plus</span>
                </div>
            </div>
        </div>
    </div>
</main>
