
@{
    ViewBag.Title = "Sparkt | Star Plus | Khichdi";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Khichdi";
    ViewBag.MetaDescription = "Digital exclusive content to introduce iconic characters";
    ViewBag.MetaURL = "https://sparkt.in/work/Khichdi";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/khichadi-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <!--<div class="banner-source">
              <div class="banner-video">
                <video class="bannerplayer" poster="images/banners/khichadi-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                  <source type="video/youtube" src="https://youtu.be/y4sgMwqZQRs"/>
                </video>
              </div>
              <div class="banner-image" style="background-image: url(images/banners/khichadi-cover.jpg);"> </div>
            </div>-->

            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/khichadi-cover.jpg);">
                </div>

            </div>

            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Khichdi</h1>
                <div class="clear"></div>
                <span>Digital exclusive content to <br>introduce iconic characters</span>
            </div>
        </div>
      @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                <div class="slider">
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Creating content with the iconic dialogue exchange and interaction <br>between two key characters on the show </h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/aXKoL1gwo7E/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/aXKoL1gwo7E" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/OryPbyj1fLc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/OryPbyj1fLc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Ez8ZDfc-eaM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Ez8ZDfc-eaM" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Ez8ZDfc-eaM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Ez8ZDfc-eaM" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/aXKoL1gwo7E/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/OryPbyj1fLc/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Ez8ZDfc-eaM/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Ez8ZDfc-eaM/maxresdefault.jpg" alt="" /></a> </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Re-introducing the legendary cast and crew of the show in <br>its new season with digital exclusive content </h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/GBsPThfY9r8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/GBsPThfY9r8" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/q2P6C5fUI5Q/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/q2P6C5fUI5Q" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/w3QCXuHxS3w/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/w3QCXuHxS3w" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Iu1otqZRD6Y/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Iu1otqZRD6Y" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/nkqzwr2kiDs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/nkqzwr2kiDs" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/4Rx29y4f_D0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/4Rx29y4f_D0" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/GBsPThfY9r8/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/q2P6C5fUI5Q/maxresdefault.jpg" alt="" /></a> </div>



                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/w3QCXuHxS3w/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Iu1otqZRD6Y/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/nkqzwr2kiDs/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/4Rx29y4f_D0/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Thumbstopping content to bring alive the zany <br>characters and situations on the show </h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/1HP84ZLt2lo/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/GBsPThfY9r8" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/RoyV6jp5SaU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/RoyV6jp5SaU" type="video/youtube" />
                                                </video>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="video-nav">

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/1HP84ZLt2lo/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/RoyV6jp5SaU/maxresdefault.jpg" alt="" /></a> </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIDEO VIEWS</span> <span class="result-points">55.4</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIDEO VIEWS</span> <span class="result-points">55.4</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIDEO VIEWS</span> <span class="result-points">55.4</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIDEO VIEWS</span> <span class="result-points">55.4</span> <span class="result">MILLION +</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon</h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>
        </div>
    </div>*@
</main>