
@{
    ViewBag.Title = "Sparkt Work | Kulfi";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Kulfi";
    ViewBag.MetaDescription = "She sings about anything!";
    ViewBag.MetaURL = "http://sparkt.in/work/Kullfi";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/kullfi-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/kulfi-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/1dL2ZhKZDZ8" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/kulfi-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Kullfi</h1>
                <div class="clear"></div>
                <span>She sings about anything!</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>SERIES OF MUSIC VIDEOS SHOWCASING KULLFI’S ABILITY <br>TO SING ABOUT ANYTHING!</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/FmmX4GmRp4s/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/FmmX4GmRp4s" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/n5n-bLAmclk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/n5n-bLAmclk" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/33_NVZDfMIs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/33_NVZDfMIs" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/ZunNvPz2_bo/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/ZunNvPz2_bo" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/FmmX4GmRp4s/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/n5n-bLAmclk/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/33_NVZDfMIs/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/ZunNvPz2_bo/maxresdefault.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets red-base-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>SKIP ADS WITH KULLFI CHARMING VIEWERS <br>TO WATCH HER MUSICAL STORY</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <span class="youtube-elem elem-1"><img src="~/Content/work/images/youtube-c-panel.png" alt="" /></span>
                                        <span class="youtube-elem elem-2"><img src="~/Content/work/images/youtube.png" alt="" /></span>

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/B32UFp9WQKU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/B32UFp9WQKU" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/u3uaLk36y9A/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/u3uaLk36y9A" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/5SBvjACGdYk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/5SBvjACGdYk" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/B32UFp9WQKU/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/u3uaLk36y9A/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/5SBvjACGdYk/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets hotstar-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        Interventions by KULLFI on Hotstar <br>
                                        AND YOUTUBE’s MOST popular videos
                                    </h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <span class="hotstar-elem elem-1"><img src="~/Content/work/images/hotstar-elem-1.png" alt="" /></span>
                                        <span class="hotstar-elem elem-2"><img src="~/Content/work/images/hotstar-logo.png" alt="" /></span>

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/HovJd6pnR2M/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HovJd6pnR2M" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/fRXV9RuFqEw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/fRXV9RuFqEw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/2mKbQam0IOc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/2mKbQam0IOc" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/HovJd6pnR2M/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/fRXV9RuFqEw/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/2mKbQam0IOc/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIDEO CONSUMPTION</span> <span class="result-points">29.21</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">157</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ORGANIC VIDEO CONSUMPTION</span> <span class="result-points">2.91</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">CPV</span> <span class="result-points">0.32</span> <span class="result">INR</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            @*<div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon</h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>*@
        </div>
    </div>
</main>