
@{
    ViewBag.Title = "kullfimissedcall";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

@{
    ViewBag.Title = "Sparkt | Star Plus | Kulfi Missed Call";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Kulfi Missed Call";
    ViewBag.MetaDescription = "She sings about anything!";
    ViewBag.MetaURL = "https://sparkt.in/work/kullfimissedcall";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/kullfi-thum.jpg";
}
@section BodyClass {star-plus}
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "VideoObject",
        "name": "Kullfi Video",
        "VideoList": [{
        "@@type":
        "@@id": "https://youtu.be/i9oFYDlbsdM",
        "url":"https://youtu.be/i9oFYDlbsdM",
        "description": "Reinforcing Kullfi’s bond with the audience through a Missed Call",
        "duration": "2M30S",
        "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/kulfi-missed-call-cover.jpg",
        "uploadDate":"05/01/2018",
        }]
        }
    </script>
    <main>
        <div class="section">
            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video">
                        <video class="bannerplayer" poster="~/Content/work/images/banners/kulfi-missed-call-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                            <source type="video/youtube" src="https://youtu.be/i9oFYDlbsdM" />
                        </video>
                    </div>
                    <div class="banner-image" style="background-image: url(../Content/work/images/banners/kulfi-missed-call-cover.jpg);"> </div>

                </div>
                <div class="head-title floated">
                    <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>Kullfi</h1>
                    <div class="clear"></div>
                    <span>Reinforcing Kullfi’s bond with the audience through a Missed Call</span>
                </div>
            </div>

            @Html.Partial("_WorkMenu")
        </div>

        <div class="section">
            <div class="head-title floated ">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative Experience</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                    <div class="slider">

                        <div>
                            <div class="creative-assets">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>Clcik 2 call that lets the audience interact with Kullfi and listen to her songs</h3>
                                    </div>
                                    <div class="sparkt-carousel">
                                        <div class="mobile-wrapp">
                                            <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                            <div class="video-slider">
                                                <div class="video-item">
                                                    <video poster="http://img.youtube.com/vi/GTXaDUB_IE4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                        <source src="https://youtu.be/GTXaDUB_IE4" type="video/youtube" />
                                                    </video>
                                                </div>





                                            </div>
                                        </div>
                                        <!--   <div class="video-nav">
                                      <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/FmmX4GmRp4s/maxresdefault.jpg" alt=""/></a> </div>
                                      <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/n5n-bLAmclk/maxresdefault.jpg" alt=""/></a> </div>
                                      <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/33_NVZDfMIs/maxresdefault.jpg" alt=""/></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/ZunNvPz2_bo/maxresdefault.jpg" alt=""/></a> </div>

                                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>ENGAGING THROUGH THE MOBILE ECOSYSTEM</h3>
                                    </div>


                                    <div class="project fadeIn" data-t-show="1">
                                        <div class="project__card">
                                            <a class="project__image"><img src="~/Content/work/images/kulfi-add-banners.gif" alt=""></a>
                                            <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="creative-assets">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>GOING BEYOND DIGITAL SCREENS</h3>
                                    </div>
                                    <div class="three-img-carousel-wrapp">
                                        <div class="three-img-carousel">
                                            <div><img src="~/Content/work/images/outdoor-1.jpg" alt="" /></div>
                                            <div><img src="~/Content/work/images/outdoor-2.jpg" alt="" /></div>
                                            <div><img src="~/Content/work/images/outdoor-3.jpg" alt="" /></div>
                                            <div><img src="~/Content/work/images/outdoor-4.jpg" alt="" /></div>
                                            <div><img src="~/Content/work/images/outdoor-5.jpg" alt="" /></div>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section white-bg">
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Results</h2>
            </div>
            <div class="container bottom-padding-none">
                <div class="result-wrapp">
                    <ul class="fadeUp t-infinity">
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">OVER</span> <span class="result-points">17.28 </span> <span class="result">LAC+<small>PEOPLE DIALED IN TO LISTEN TO THE LITTLE NIGHTINGALES MELODIOUS VOICE</small></span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">AVERAGE CONSUMPTION TIME</span> <span class="result-points">67 SEC</span> <span class="result"><small>SURPASSING THE AVERAGE BENCHMARK OF 22-25 SECS BY 220%</small></span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">CONVERSION RATE</span> <span class="result-points">30%</span> <span class="result"><small>FACEBOOK & YT INSTREAM INNOVATION ACHIEVED THE PERFECT BALANCE BETWEEN MESSAGE, MODALITY & ACTION CONTRIBUTING TO OVER 2.74 MN CLICKS</small></span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">ORMAX CHARACTERS INDIA LOVES</span> <span class="result-points">#2</span> <span class="result"><small>KULFI WAS SCALING HEIGHTS AT #2 ON THE CIL REPORT FOR JULY-AUG. SIKANDER WAS THE FASTEST GROWING FICTIONAL CHARACTER AT 50% ACCORDING TO ORMAX</small></span> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="container">
           <div class="quotes-wrapp">
             <div class="quotes">
               <h3>Coming Soon</h3>
               <span class="quotes-writer"></span> </div>
           </div>
         </div>-->
        </div>
    </main>