
@{
    ViewBag.Title = "KZK";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

@{
    ViewBag.Title = "Sparkt | Star Plus | KZK";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Kasautii Zindagii Kay";
    ViewBag.MetaDescription = "Relaunching the legendary show Kasautii Zindagi Kay in a legendary way";
    ViewBag.MetaURL = "https://sparkt.in/work/KZK";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/kzk-thum.jpg";
}
@section BodyClass {star-plus}
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "VideoObject",
        "name": "KZK Video",
        "VideoList": [{
        "@@type":
        "@@id": "https://youtu.be/j8dD0w5jV1c",
        "url":"https://youtu.be/j8dD0w5jV1c",
        "description": "Relaunching the legendary show Kasautii Zindagi Kay in a legendary way",
        "duration": "2M30S",
        "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/kzk.jpg",
        "uploadDate":"06/21/2019",
        }]
        }
    </script>

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/kzk.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/j8dD0w5jV1c" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/kzk.jpg);"> </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Kasautii Zindagii Kay</h1>
                <div class="clear"></div>
                <span>Relaunching the legendary show Kasautii Zindagi Kay in a legendary way</span>
            </div>
        </div>

        @Html.Partial("_WorkMenu")
    </div>

    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content//images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>CREATING INTRIGUE FOR THE FAN CORE</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/P5Ma-_XRun0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/P5Ma-_XRun0" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <!--  <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/FmmX4GmRp4s/maxresdefault.jpg" alt=""/></a> </div>


                                      </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>BUILDING THE EXCITEMENT TO AN INFLECTION POINT</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">


                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/kkQwbquRE0I/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/kkQwbquRE0I" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/AU20QXDCyQg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/AU20QXDCyQg" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/CUd6JPKrA-4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/CUd6JPKrA-4" type="video/youtube" />
                                                </video>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/kkQwbquRE0I/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/AU20QXDCyQg/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/CUd6JPKrA-4/maxresdefault.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Lead up to the launch through tactical interventions delivered live</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">



                                        <div class="video-item">
                                            <video poster="~/Content/work/images/lead-up-to-the-launch.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                <source src="https://youtu.be/l-E_vhnpMO0" type="video/youtube" />
                                            </video>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>From online to real-world installations</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">

                                        <div class="video-item">
                                            <video poster="http://img.youtube.com/vi/5ZjVwRtpq9w/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                <source src="https://youtu.be/5ZjVwRtpq9w" type="video/youtube" />
                                            </video>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Characters Made memorable and relevant through focused building</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">


                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/making-characters-video.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/8wDfU5-LXNQ" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/YoxDzNKrElU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/YoxDzNKrElU" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="~/Content/work/images/making-characters-video-2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/PstR6zWf9mo" type="video/youtube" />
                                                </video>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/making-characters-video.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/YoxDzNKrElU/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/making-characters-video-2.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>EXTENDING REACH USING DISPLAY</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/kzk-add-banner.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIEWS</span> <span class="result-points">19</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">1.16</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">CONVERSATION TRENDS</span> <span class="result-points">178</span> <span class="result">K</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">19</span> <span class="result">MILLION</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="container">
          <div class="quotes-wrapp">
            <div class="quotes">
              <h3>Coming Soon</h3>
              <span class="quotes-writer"></span> </div>
          </div>
        </div>-->
    </div>
</main>