
@{
    ViewBag.Title = "Livogen";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";

    ViewBag.Title = "Sparkt Work | Livogen";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Livogen";
    ViewBag.MetaDescription = "Raho Strong, Iron Strong";
    ViewBag.MetaURL = "https://sparkt.in/work/livogen";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/livogen-thum.jpg";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/livogen-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Livogen</h1>
                <div class="clear"></div>
                <span>Raho Strong, Iron Strong</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assest</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel red-base-bg ">
                <div class="slider">
                    <div class="video-carousel piramal-bg ">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>HELPING LIVOGEN CHANGE THE BEHAVIOUR OF AN IRON-DEFICIENT NATION</h4>
                                </div>
                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/yKiY6JspoJg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/yKiY6JspoJg" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/dSqEb_Zw7Kw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/dSqEb_Zw7Kw" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/HuLx9ChBSO4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/HuLx9ChBSO4" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/EetEr37A_Ig/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/EetEr37A_Ig" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/t2mjZbbaF_8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/t2mjZbbaF_8" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/IZ6jR4UlLsE/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/IZ6jR4UlLsE" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/lnK1DPlunuo/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/lnK1DPlunuo" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/YiAsfckiRBk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/YiAsfckiRBk" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/LlXeR64Fiik/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/LlXeR64Fiik" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="https://img.youtube.com/vi/rRcBHhW5R2k/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/rRcBHhW5R2k" type="video/youtube" />
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-nav">
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/yKiY6JspoJg/maxresdefault.jpg" alt="" /><span class="caption">Mandira Bedi </span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/dSqEb_Zw7Kw/maxresdefault.jpg" alt="" /><span class="caption">Mary Kom</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/HuLx9ChBSO4/maxresdefault.jpg" alt="" /><span class="caption">Anupriya</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/EetEr37A_Ig/maxresdefault.jpg" alt="" /><span class="caption">Himanshi</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/t2mjZbbaF_8/maxresdefault.jpg" alt="" /><span class="caption">Komal</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/IZ6jR4UlLsE/maxresdefault.jpg" alt="" /><span class="caption">Neha Mathur</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/lnK1DPlunuo/maxresdefault.jpg" alt="" /><span class="caption">Nmami</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/YiAsfckiRBk/maxresdefault.jpg" alt="" /><span class="caption">Pooja</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/LlXeR64Fiik/maxresdefault.jpg" alt="" /><span class="caption">Samantha</span></a> </div>
                            <div class="nav-item"><a class="hvr-trim"><img src="https://img.youtube.com/vi/rRcBHhW5R2k/maxresdefault.jpg" alt="" /><span class="caption">Satrupa's</span></a> </div>
                        </div>
                    </div>
                    <div class="piramal-bg">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        Livogen is one of the most popular and trusted <br>
                                        iron supplements in India.
                                    </h3>
                                </div>
                                <div class="sparkt-carousel square dubsmash-carousel">
                                    <div class="mobile-wrapp">

                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->
                                        <div class="video-slider">
                                            <div class="video-item"> <img src="/Content/work/images/livogen-carousel/carousel-1.jpg"> </div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-carousel/carousel-2.jpg"> </div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-carousel/carousel-3.jpg"> </div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-carousel/carousel-4.jpg"> </div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-carousel/carousel-5.jpg"> </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/livogen-carousel/carousel-1.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/livogen-carousel/carousel-2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/livogen-carousel/carousel-3.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/livogen-carousel/carousel-4.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/livogen-carousel/carousel-5.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="piramal-bg">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        Livogen Ke Saath <br>
                                        Raho Strong, Iron Strong
                                    </h3>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class=" single-video-carousel">
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/5zQQ-gK0MfA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/5zQQ-gK0MfA" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/PBk6_aKAFZ8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/PBk6_aKAFZ8" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-carousel piramal-bg">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>The lifestyle points where iron deficiency was affecting them.</h4>
                                </div>
                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card "> <a class="project__image"><img src="/Content/work/images/livogen-press-articls.jpg" alt=""></a> </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">87.9</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENTS</span> <span class="result-points">178</span> <span class="result">THOUSAND</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">36.7</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIEWS</span> <span class="result-points">76</span> <span class="result">MILLION</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</main>

