
@{
    ViewBag.Title = "Sparkt Work | Livogen";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Livogen";
    ViewBag.MetaDescription = "Break Free From Iron Deficiency";
    ViewBag.MetaURL = "https://sparkt.in/work/livogen-break-free";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/livogen-break-free-thum.jpg";
}

<main>
    <div class="section white-bg">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/livogen-break-free-cover.jpg');"> </div>
            </div>
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Livogen</h1>
                <div class="clear"></div>
                <span>Break Free From Iron Deficiency</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assest</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel red-base-bg ">
                <div class="slider">
                    <div class="piramal-bg">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>DRIVING LIVOGEN’S MOVEMENT TO HELP INDIAN WOMEN ESCAPE THE IMPACT OF IRON DEFICIENCY</h3>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class=" single-video-carousel">
                                        <div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-efforst/morning-walk.jpg" alt=""> </div>
                                        </div>
                                        <div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-efforst/playing.jpg" alt=""> </div>
                                        </div>
                                        <div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-efforst/sofa-moving.jpg" alt=""> </div>
                                        </div>
                                        <div>
                                            <div class="video-item"> <img src="/Content/work/images/livogen-efforst/stairs-climbing.jpg" alt=""> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="piramal-bg">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Livogen was present on some popular news and entertainment channels to aid brand recall.</h3>
                                </div>
                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <span class="youtube-elem elem-3"><img src="/Content/work/images/livogen_bumper_channel.png" alt="" /></span>
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/ohDsetJ-AHk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/ohDsetJ-AHk" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/E6k77YW1chQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/E6k77YW1chQ" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/ohDsetJ-AHk/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/E6k77YW1chQ/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">46.2</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENTS</span> <span class="result-points">95</span> <span class="result">THOUSAND</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">30</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIEWS</span> <span class="result-points">4.5</span> <span class="result">MILLION</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</main>

