
@{
    ViewBag.Title = "Sparkt Work | Made By Mom";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mothers-day-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/4QRBHpKRL44" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mothers-day-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Made By Mom</h1>
                <div class="clear"></div>
                <span>Igniting a Nayi Soch on Mother’s Day</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu");

 
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel youtube-bg ">
                <div class="slider">
                    <div>
                        <div class="creative-assets " style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>ELEVATING THE EMOTIONAL VALUE OF THE FILM BY <br>BLURRING THE LINES BETWEEN REEL AND REAL</h4>
                                </div>
                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/MvurOqxWZbc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/MvurOqxWZbc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/gyZG7Juk_gg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/gyZG7Juk_gg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/91xzli-FcWQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/91xzli-FcWQ" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/bfXzcvHvQ80/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/bfXzcvHvQ80" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/HpXQtmPi93s/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HpXQtmPi93s" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/WxE4-3cbmPA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/WxE4-3cbmPA" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/UlHQZpURGS4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/UlHQZpURGS4" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/_fnVjzcxXLs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/_fnVjzcxXLs" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/Omc6S_vOlK8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Omc6S_vOlK8" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/MvurOqxWZbc/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/gyZG7Juk_gg/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/91xzli-FcWQ/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/bfXzcvHvQ80/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/HpXQtmPi93s/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/WxE4-3cbmPA/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/UlHQZpURGS4/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/_fnVjzcxXLs/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="http://img.youtube.com/vi/Omc6S_vOlK8/maxresdefault.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <!-- <h3></h3>-->
                                </div>

                                <div class="three-img-carousel-wrapp">
                                    <div class=" single-video-carousel">
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/4QRBHpKRL44/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/4QRBHpKRL44" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                            </div>





                        </div>
                    </div>

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>DISRUPTION ON YOUTUBE TO EXPERIENCE <br>THE FILMS AND CELEBRATE MOTHER’S DAY</h3>
                                </div>
                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mothers-day-creative-approch.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets twitter-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>REFLECTING THE SENTIMENT OF THE AUDIENCE BY <br>SHARING REAL LIFE STORIES</h3>
                                </div>
                                <div class="twitter-tweets">
                                    <ul>
                                        <li class="col-5">
                                            <figure class="hvr-float-shadow">
                                                <span><img src="~/Content/work/images/mothersday-twitter-tweets-1.jpg" alt=""></span>

                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-float-shadow">
                                                <span><img src="~/Content/work/images/mothersday-twitter-tweets-2.jpg" alt=""></span>

                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-float-shadow">
                                                <span><img src="~/Content/work/images/mothersday-twitter-tweets-3.jpg" alt=""></span>

                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-float-shadow">
                                                <span><img src="~/Content/work/images/mothersday-twitter-tweets-4.jpg" alt=""></span>

                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-float-shadow">
                                                <span><img src="~/Content/work/images/mothersday-twitter-tweets-5.jpg" alt=""></span>

                                            </figure>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">Video VIEWS</span> <span class="result-points">68</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">3.7</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">130</span> <span class="result">MILLION +</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Star Plus is committed to breaking gender stereotypes especially when it comes to women. But this time it was the boys’ turn. Through first-of-its-kind digital innovations, Sparkt celebrated Mother’s Day and ignited conversations, challenging set notions and nudging India towards a Nayi Soch.</h3>
                    <span class="quotes-writer">Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat)</span>
                </div>
            </div>
        </div>
    </div>
</main>
