
@{
    ViewBag.Title = "Sparkt | Mahindra Manulife Mutual Fund | MMF Textmoji";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra Manulife Mutual Fund | MMF Textmoji";
    ViewBag.MetaDescription = "ELEVATING MAHINDRA MANULIFE MUTUAL FUND'S BRAND COMMUNICATION EXPERIENCE IN THE SMS INBOX!";
    ViewBag.MetaURL = "https://sparkt.in/work/TextMoji";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/textmoji-thum.jpg";
}
@section BodyClass {mahindra}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "MMF Textmoji Video",
    "VideoList": [{
    "@@type":
    "@@id": "https://youtu.be/KhctUASVZj4",
    "url":"https://youtu.be/KhctUASVZj4",
    "description": "Elevating mahindra mutual fund's brand communication experience in the sms inbox!",
    "duration": "2M",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/mahindra-textmoji.jpg",
    "uploadDate":"05/01/2018",
    }]
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mahindra-textmoji.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/KhctUASVZj4" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mahindra-mmf-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>MMF Textmoji</h1>
                <div class="clear"></div>
                <span>Conversational interface for enhanced experience</span>
            </div>           
        </div>      
        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="CIDCA: Mobile - SMS"><img src="~/Content/work/images/awards/cidca-2018-gold.png" class="responsive-img" alt="" /> </li>               
            </ul>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-logo-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>First of its kind, voice enabled website in the mutual fund category in the country</h3>
                                </div>
                                <div class="twitter-tweets">
                                    <ul>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-1.jpg" alt=""></span>
                                                <figcaption>Mahindra invites you to try its new voice enabled website</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-2.jpg" alt=""></span>
                                                <figcaption>Users begin interaction with a simple ‘HELLO M’</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-3.jpg" alt=""></span>
                                                <figcaption>Mahindra website voice activated</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-4.jpg" alt=""></span>
                                                <figcaption>Users give a voice command</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="">
                                                <span><img src="~/Content/work/images/mahindra-veo-5.jpg" alt=""></span>
                                                <figcaption>Website takes them to the desired landing page</figcaption>
                                            </figure>

                                        </li>
                                    </ul>

                                    <a href="https://www.mahindramutualfund.com/" target="_blank" class="view-website center">VIEW WEBSITE</a>
                                </div>



                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!--  <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
            <h2>Results</h2>
          </div>-->

        @*<div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        Coming Soon

                    </h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>
        </div>*@
    </div>
</main>

