
@{
    ViewBag.Title = "Sparkt Work | MMF NFO Launches";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/mahindra-nfo-cover.jpg);">
                    <figure><img src="~/Content/work/images/banners/nfo-digram.png" alt="" /></figure>
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>MMF NFO LAUNCHES</h1>
                <div class="clear"></div>
                <span>Seamless integration of traditional and digital media.</span>
            </div>
            @Html.Partial("_WorkMenu");
        </div>


      
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        PRODUCT KEY VISUALS DEVELOPED INTO
                                        MULTIPLE CREATIVE ASSETS FOR A RANGE OF TRADITIONAL MEDIA
                                    </h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-nfo-creative-assest1.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>EMAILERS AND SOCIAL MEDIA CREATIVES FOR INFORMATION DISSEMINATION ABOUT THE NEW FUND LAUNCHES</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-nfo-creative-assest2.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>EXTENDING THE CANVAS OF COMMUNICATION ACROSS PORTABLE MEDIA</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-nfo-creative-assest3.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!--  <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
            <h2>Results</h2>
          </div>-->

        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        It is always challenging to be relevant to a market that does not understand the concept of mutual funds. Sparkt has helped us do that by developing communication that cuts across audience cuts and make a dent in a cluttered category that talks of similar themes across products.

                    </h3>
                    <span class="quotes-writer">Mr. Ashutosh Bishnoi : MD & CEO Mahindra Mutual Fund</span>
                </div>
            </div>
        </div>
    </div>
</main>
