
@{
    ViewBag.Title = "Sparkt | Mahindra Manulife Mutual Fund | Mahindra - Unnati Emerging Business Yojana";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra Manulife Mutual Fund | Mahindra - Unnati Emerging Business Yojana";
    ViewBag.MetaDescription = "Samay se Aagey";
    ViewBag.MetaURL = "https://sparkt.in/work/MahindraUnnati";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/mahindra-unnati-thum.jpg";
}
@section BodyClass {mahindra}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "Mahindra - Unnati Emerging Business Yojana Video",
    "VideoList": [{
    "@@type":
    "@@id": "https://youtu.be/HL8D6dpwxBo",
    "url":"https://youtu.be/HL8D6dpwxBo",
    "description": "Samay se Aagey",
    "duration": "2M09S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/mahindra-unnati-cover.jpg",
    "uploadDate":"05/01/2018",
    }]
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">

            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mahindra-unnati-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/HL8D6dpwxBo" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mahindra-unnati-cover.jpg);"> </div>
            </div>


            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Unnati Emerging <br>Business Yojana </h1>
                <div class="clear"></div>
                <span>Samay se Aagey</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">


                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Repackaging content from the film by leveraging its characters to consolidate the communication ON SOCIAL AND DIGITAL MEDIA</h3>
                                </div>


                                <div class="laptop-side-angle">
                                    <div class="laptop hvr-bob">
                                        <img src="~/Content/work/images/laptop-side-angle.png" alt="">
                                    </div>
                                    <div class="post-1 hvr-grow"><img src="~/Content/work/images/unnati-post1.gif" alt=""></div>
                                    <div class="post-2 hvr-grow"><img src="~/Content/work/images/unnati-post2.gif" alt=""></div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Taking the primary communication <br>across key touchpoints in print and on-ground </h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-unnati-creative-assest1.png" alt=""></a>
                                        <!--<div class="project__detail">
                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Promoting the product by demystifying <br>the fund category with social media content</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-unnati-creative-assest2.png" alt=""></a>
                                        <!--<div class="project__detail">
                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Promoting the product by demystifying <br>the fund category with social media content</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-unnati-creative-assest4.png" alt=""></a>
                                        <!--<div class="project__detail">
                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        @*<div class="section white-bg">
              <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
                <h2>Results</h2>
              </div>

            <div class="container">
                <div class="quotes-wrapp">
                    <div class="quotes">
                        <h3>Coming Soon</h3>
                        <span class="quotes-writer"></span>
                    </div>
                </div>
            </div>
        </div>*@
</main>
