
@{
    ViewBag.Title = "Sparkt | Mahindra Manulife Mutual Fund | MMF WEBSITE";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra Manulife Mutual Fund | MMF WEBSITE";
    ViewBag.MetaDescription = "Conversational interface for enchanced experience";
    ViewBag.MetaURL = "https://sparkt.in/work/MahindraMFExperience";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/mmf-thum.jpg";
}
@section BodyClass {mahindra}
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "VideoObject",
        "name": "Mahindra Manulife Mutual Fund Video",
        "VideoList": [{
        "@@type":
        "@@id": "https://youtu.be/KhctUASVZj4",
        "url":"https://youtu.be/KhctUASVZj4",
        "description": "Conversational interface for enchanced experience",
        "duration": "1M56S",
        "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/mahindra-manulife-cover.png",
        "uploadDate":"05/01/2018",
        }]
        }
    </script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mahindra-manulife-cover.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/KhctUASVZj4" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mahindra-manulife-cover.png);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>MAHINDRA MANULIFE MUTUAL FUND</h1>
                <div class="clear"></div>
                <span>Conversational interface for enhanced experience</span>
            </div>
        </div>

        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="CAMPAIGN INDIA: Long Term Strategy - Silver"><img src="~/Content/work/images/awards/campaign-india-silver.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="MADDIES: Best Mobile Website - Gold"><img src="~/Content/work/images/awards/maddies-gold.png" class="responsive-img" alt="" /> </li>

                <li class="tooltip" title="ACEF: Mobile - Successful Use of Technology - Silver"><img src="~/Content/work/images/awards/acef-silver.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="ACEF: Mobile - Innovation - Gold"><img src="~/Content/work/images/awards/acef-gold.png" class="responsive-img" alt="" /> </li>
            </ul>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel mahindra-logo-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        NEW AGE EXPERIENTIAL WEBSITE THAT RESPONDS TO USER REQUIREMENTS THROUGH DYNAMIC RESTRUCTURING
                                    </h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">

                                        <video id="desktop" poster="~/Content/work/images/mmf-desktop.jpg" style="max-width: 100%;" preload="none" controls="False" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/desktop.mp4" type="video/mp4" >
                                            <source src="media/desktop.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("desktop").controls = false;</script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/mmf-mobile.jpg" style="max-width: 100%;" preload="none" controls="false" autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/mobile.mp4" type="video/mp4" >
                                            <source src="media/mobile.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;</script>
                                    </div>
                                    <a href="https://www.mahindramutualfund.com/" target="_blank" class="view-website">VIEW WEBSITE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
           <h2>Results</h2>
         </div>-->
        @*<div class="container">
                <div class="quotes-wrapp">
                    <div class="quotes">
                        <h3>Sparkt's approach is very similar to ours. They strive to define the larger problem statement and then provide a solution that is the best fitment to the brand. Sparkt gives a feeling that they are part of the same team. Most importantly they understand the business aspect really well and that understanding reflects in the delivery.</h3>
                        <span class="quotes-writer">Mayank Jain - Head of Sales & Marketing - Piramal Housing Finance Ltd.</span>
                    </div>
                </div>
            </div>*@
    </div>
</main>
