@{
    ViewBag.Title = "Sparkt | Mahindra Pragati Bluechip Yojana";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra Pragati Bluechip Yojana";
    ViewBag.MetaDescription = "Launching a new fund through unconventional content formats.";
    ViewBag.MetaURL = "https://sparkt.in/work/Mahindra-Pragati-Yojana";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/mmf-pragati-yojana-thum.jpg.jpg";
}
@section BodyClass {mahindra}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="/Content/work/images/banners/mmf-pragati-yojana-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/jVryhnE2hQs" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('/Content/work/images/banners/mmf-pragati-yojana-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Mahindra Pragati Bluechip Yojana</h1>
                <div class="clear"></div>
                <span>Launching a new fund through unconventional content formats</span>
            </div>
        </div>




        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Capturing the imagination of audiences by creating a palatable, rhyming song with all the must-haves missing from the daily lives to highlight the importance of a large-cap fund in every investment portfolio.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-pragati-standy-banners.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Capturing the imagination of audiences by creating a palatable, rhyming song with all the must-haves missing from the daily lives to highlight the importance of a large-cap fund in every investment portfolio.</h3>
                                </div>

                                <div class="three-img-carousel-wrapp">
                                    <div class="single-video-carousel square">
                                        <div>
                                            <div class="video-item">
                                                <img src="/Content/work/images/mmf-pragati-large-cap-fund.gif" alt="">
                                                <!--  <video poster="images/mmf-pragati-large-cap-fund.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/tvQ852vMBbs" type="video/youtube"/>
                                                  </video>-->
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Capturing the imagination of audiences by creating a palatable, rhyming song with all the must-haves missing from the daily lives to highlight the importance of a large-cap fund in every investment portfolio.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-pragati-social-post.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Capturing the imagination of audiences by creating a palatable, rhyming song with all the must-haves missing from the daily lives to highlight the importance of a large-cap fund in every investment portfolio.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-pragati-emailers.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Capturing the imagination of audiences by creating a palatable, rhyming song with all the must-haves missing from the daily lives to highlight the importance of a large-cap fund in every investment portfolio.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-pragati-pamphlet.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
        <!--  <div class="section white-bg">
        <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
             <h2>Results</h2>
           </div>

           <div class="container">
             <div class="quotes-wrapp">
               <div class="quotes">
                 <h3>Coming Soon</h3>
                 <span class="quotes-writer"></span> </div>
             </div>
           </div>
         </div>-->
</main>
<?php include("footer.php"); ?>
