@{
    ViewBag.Title = "Sparkt | Mahindra Rural Bharat Consumption Yojana";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra Rural Bharat Consumption Yojana";
    ViewBag.MetaDescription = "Bharat ki tarakki main aap ki tarakki.";
    ViewBag.MetaURL = "https://sparkt.in/work/Mahindra-Rural-Bharat";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/mahindra-rural-bharat-thum.jpg";
}
@section BodyClass {mahindra}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="/Content/work/images/banners/mahindra-rural-bharat-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/gtdDTHSOOJ4" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('/Content/work/images/banners/mahindra-rural-bharat-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Mahindra Rural Bharat Consumption Yojana</h1>
                <div class="clear"></div>
                <span>Bharat ki tarakki main aap ki tarakki</span>
            </div>
        </div>

        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-rural-bharat-standy-banners.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>

                                <div class="three-img-carousel-wrapp">
                                    <div class="single-video-carousel">
                                        <div>
                                            <div class="video-item">

                                                <video poster="https://img.youtube.com/vi/dLzWcgIY3xs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/dLzWcgIY3xs" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>


                                <div class="sparkt-carousel square ">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/mmf-rural-1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/QzG4bfqos8g" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/mmf-rural-2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/yjlssaL3kOg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/-ieKwGwl_Kc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/-ieKwGwl_Kc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/mmf-rural-4.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/w57RRcl0JMw" type="video/youtube" />
                                                </video>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/mmf-rural-1.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/mmf-rural-2.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/-ieKwGwl_Kc/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/mmf-rural-4.jpg" alt="" /></a> </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>
                                <div class="single-laptop-wrapp">
                                    <div class="single-laptop">
                                        <img src="/Content/work/images/mmf-rural-bharat-single-laptop-video.png" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-rural-bharat-mailer.png" alt=""></a>
                                        <!--<div class="project__detail">
                                           <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                             <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                         </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>





                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Brought the investment prospect of rural India to the forefront by highlighting how they’re keeping up with the changing times and growing rapidly.</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="/Content/work/images/mmf-rural-bharat-landing-page.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <!--  <div class="section white-bg">
        <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
             <h2>Results</h2>
           </div>

           <div class="container">
             <div class="quotes-wrapp">
               <div class="quotes">
                 <h3>Coming Soon</h3>
                 <span class="quotes-writer"></span> </div>
             </div>
           </div>
         </div>-->
</main>
<?php include("footer.php"); ?>
