
@{
    ViewBag.Title = "Sparkt | TOP 250 NIVESH YOJANA";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Mahindra TOP 250 NIVESH YOJANA";
    ViewBag.MetaDescription = "A HEARTWARMING DIGITAL FILM THAT RAISES AWARENESS AND AROUSES ANTICIPATION ABOUT THE NFO LAUNCH.";
    ViewBag.MetaURL = "https://sparkt.in/work/mahindra-top-nfo";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/mmf-top250.jpg";
}

@section BodyClass {mahindra}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="/Content/work/images/banners/mmf-top250-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/S3NBbGxlMpw" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('/Content/work/images/banners/mmf-top250-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>TOP 250 NIVESH YOJANA</h1>
                <div class="clear"></div>
                <span>Issey badhkar kya chahiye?</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")
    </div>

    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>A HEARTWARMING DIGITAL FILM THAT RAISES AWARENESS AND AROUSES ANTICIPATION ABOUT THE NFO LAUNCH</h3>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class="single-video-carousel">
                                        <div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/S3NBbGxlMpw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/S3NBbGxlMpw" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>EXTENDING PRODUCT COMMUNICATION INTO THE SOCIAL DOMAIN</h3>
                                </div>
                                <div class="sparkt-carousel square ">
                                    <div class="mobile-wrapp">

                                        <div class="video-slider">
                                            <div class="video-item"> <img src="/Content/work/images/top250_nfo-open.gif" alt="" style="width: 100%"> </div>
                                            <div class="video-item"> <img src="/Content/work/images/top250_nfo-open-1.gif" alt="" style="width: 100%"> </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/top250_nfo-open.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/top250_nfo-open-1.jpg" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>UTILIZING DIVERSE MEDIA AVENUES TO PROPAGATE THE PRODUCT MESSAGING</h3>
                                </div>
                                <div class="single-laptop-wrapp">
                                    <div class="single-laptop"> <img src="/Content/work/images/mmf-top250-money-control.png" alt=""> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
