
@{
    ViewBag.Title = "Sparkt Work | MMF BADHAT YOJANA";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "MMF BADHAT YOJANA";
    ViewBag.MetaDescription = "Exploring how richness is measured in Indian society";
    ViewBag.MetaURL = "http://sparkt.in/work/MahindraBadhatYojana";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/badhat-yojana-thum.jpg";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mahindra-badhat-yojana-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/tvQ852vMBbs" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mahindra-badhat-yojana-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>MMF BADHAT YOJANA</h1>
                <div class="clear"></div>
                <span>Exploring how richness is measured in Indian society</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")

    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-bg">
                <div class="slider">
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        A SERIES OF VOXPOX FILMS IN CONVERSATION WITH OUR <br>
                                        REAL AUDIENCE DISTRIBUTED ACROSS TV AND DIGITAL
                                    </h3>
                                </div>

                                <div class="three-img-carousel-wrapp">
                                    <div class=" single-video-carousel">
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/tvQ852vMBbs/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/tvQ852vMBbs" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/5eeilFxysw0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/5eeilFxysw0" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/uG-pFZN8KXM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/uG-pFZN8KXM" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/UZfX-SVJL-w/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/UZfX-SVJL-w" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/wMyE5-9ozOQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/wMyE5-9ozOQ" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>TAKING THE PRODUCT COMMUNICATION WITH MULTIPLE REAL-WORLD RESPONSES ACROSS ONLINE AND OFFLINE COLLATERALS</h3>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/mahindra-badhat-creative-assest1.png" alt=""></a>
                                        <!--<div class="project__detail">
                                          <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                            <small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div class="section white-bg">
            <!--  <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
                <h2>Results</h2>
              </div>-->

            <div class="container">
                <div class="quotes-wrapp">
                    <div class="quotes">
                        <h3>Coming Soon</h3>
                        <span class="quotes-writer"></span>
                    </div>
                </div>
            </div>
        </div>
</main>

