
@{
    ViewBag.Title = "Sparkt Work | MMF WEBSITE";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/mahindra-mmf-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/KhctUASVZj4" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/mahindra-mmf-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>MMF WEBSITE</h1>
                <div class="clear"></div>
                <span>Conversational interface for enhanced experience</span>
            </div>          
        </div>
        @Html.Partial("_WorkMenu");
        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="CAMPAIGN INDIA: Long Term Strategy - Silver"><img src="~/Content/work/images/awards/campaign-india-silver.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="MADDIES: Best Mobile Website - Gold"><img src="~/Content/work/images/awards/maddies-gold.png" class="responsive-img" alt="" /> </li>

                <li class="tooltip" title="ACEF: Mobile - Successful Use of Technology - Silver"><img src="images/awards/acef-silver.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="ACEF: Mobile - Innovation - Gold"><img src="~/Content/work/images/awards/acef-gold.png" class="responsive-img" alt="" /> </li>
            </ul>
        </div>
      
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  mahindra-logo-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>FIRST OF ITS KIND, VOICE ENABLED WEBSITE IN THE MUTUAL FUND CATEGORY IN THE COUNTRY</h3>
                                </div>
                                <div class="twitter-tweets">
                                    <ul>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-1.jpg" alt=""></span>
                                                <figcaption>MAHINDRA INVITES YOU TO TRY ITS NEW VOICE ENABLED WEBSITE</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-2.jpg" alt=""></span>
                                                <figcaption>USERS BEGIN INTERACTION WITH A SIMPLE ‘HELLO M’</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-3.jpg" alt=""></span>
                                                <figcaption>MAHINDRA WEBSITE VOICE ACTIVATED</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/mahindra-veo-4.jpg" alt=""></span>
                                                <figcaption>USERS GIVE A VOICE COMMAND</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="">
                                                <span><img src="~/Content/work/images/mahindra-veo-5.jpg" alt=""></span>
                                                <figcaption>WEBSITE TAKES THEM TO THE DESIRED LANDING PAGE</figcaption>
                                            </figure>

                                        </li>
                                    </ul>

                                    <a href="http://www.mahindramutualfund.com/" target="_blank" class="view-website center">VIEW WEBSITE</a>
                                </div>



                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!--  <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
            <h2>Results</h2>
          </div>-->

        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        Voice Engine Optimisation will make a big difference to those customers who come hail from semi-urban and rural areas, making the offering democratic allowing multi-platform acces especially to market that does not understand mutual funds. By enabling a future facing experience, Sparkt has helped us develop differentiated & holistic thinking for the brand.

                    </h3>
                    <span class="quotes-writer">Mr. Ashutosh Bishnoi : MD & CEO Mahindra Mutual Fund</span>
                </div>
            </div>
        </div>
    </div>
</main>

