
@{
    ViewBag.Title = "Sparkt Work | Nach Baliye 8";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Nach Baliye 8";
    ViewBag.MetaDescription = "Bringing alive the Romance-wala Dance";
    ViewBag.MetaURL = "http://sparkt.in/work/NachBaliye8";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/nach-baliye-8-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/nach-baliye-8-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/y4sgMwqZQRs" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/nach-baliye-8-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>NACH BALIYE 8</h1>
                <div class="clear"></div>
                <span>Bringing alive the 'Romance-wala Dance'</span>
            </div>         
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel " style="background-image: url(../Content/work/images/nach-creative-assets-bg.jpg);">
                <div class="slider">
                    <div>
                        <div class="creative-assets" style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>
                                        DIGITAL EXCLUSIVE CONTENT AND FORMAT INNOVATIONS
                                        TO KEEP THE AUDIENCE HOOKED THROUGH THE SEASON
                                    </h4>
                                </div>
                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/bharti-haarsh-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/xWIp1PGaHcw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/sanam-abigali-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Z55--9Ei0EA" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/divyank-vivek-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/3Uv0dmH8Xzg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/pritam-amanjjot-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/KzFdrczD0Lo" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/siddharth-tripti-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/pdj3_QNchMg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/mohit-sanaya-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/xbF_FmTDyiE" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/shohaib-dipika-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/CwN89N4gfXc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/monalisa-vikrant-nach8.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/QYXi9A2bD1A" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/bharti-haarsh-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/sanam-abigali-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/divyank-vivek-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/pritam-amanjjot-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/siddharth-tripti-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/mohit-sanaya-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/shohaib-dipika-nach8.png" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="~/Content/work/images/video-thums/monalisa-vikrant-nach8.png" alt="" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>
                                        SERIES OF FACEBOOK LIVE EVENTS WITH
                                        THE CELEBRITY COUPLES CREATING MASS FAN ENGAGEMENTS
                                    </h4>
                                </div>
                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card">
                                        <a class="project__image"><img src="~/Content/work/images/nach-baliye-8-creative-approch.png" alt=""></a>
                                        @*<div class="project__detail">
                                            <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">FACEBOOK VIDEO VIEWS</span> <span class="result-points">55.4</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">TWITTER VIDEO VIEWS</span> <span class="result-points">786.7</span> <span class="result">THOUSAND</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">INSTAGRAM VIDEO VIEWS</span> <span class="result-points">6.2</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">YOUTUBE VIDEO VIEWS</span> <span class="result-points">5.6</span> <span class="result">MILLION</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Nach Baliye as a property is very special for Star Plus. It’s return with an 8th season posed the challenge of engaging a young audience that is spoilt for choice when it comes to content and information. Sparkt helped bring alive Nach Baliye and it’s celebrity participants by unlocking the potential of video with live & innovative storytelling.</h3>
                    <span class="quotes-writer">- Aijaz Nakhuda, Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat)</span>
                </div>
            </div>
        </div>
    </div>
</main>