
@{
    ViewBag.Title = "Sparkt | Star Plus | Nazar";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Nazar";
    ViewBag.MetaDescription = "Building intrigue through content.";
    ViewBag.MetaURL = "https://sparkt.in/work/Nazar";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/nazar-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/nazar-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Nazar</h1>
                <div class="clear"></div>
                <span>Building intrigue through content</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel star-new-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Delve into the mystery behind the legendary paranormal figure of Dayaan, utilising it to set context on digital media for the launch of the show Nazar on Star Plus</h3>
                                </div>


                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/nazar-1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/km76bBiMdHk" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Wef_orGDjcA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Wef_orGDjcA" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Ws9e9PU5YBg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Ws9e9PU5YBg" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/nazar-4.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/3pK3lNHFYkc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/4cYucNp5040/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/4cYucNp5040" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/lcG-MMvcvXo/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/lcG-MMvcvXo" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Sphux27TP28/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Sphux27TP28" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/V6oICUyuur8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/V6oICUyuur8" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/KcoicgniCWU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/KcoicgniCWU" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/u-dRbCrlZ2M/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/u-dRbCrlZ2M" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/nazar-11.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/_15fQiQ_Tv0" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/nazar-3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/L1I06DRU9s0" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/nazar-13.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/-KNtjBpkPiY" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/nazar-1.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Wef_orGDjcA/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Ws9e9PU5YBg/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/nazar-4.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/4cYucNp5040/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/lcG-MMvcvXo/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Sphux27TP28/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/V6oICUyuur8/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/KcoicgniCWU/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/u-dRbCrlZ2M/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/nazar-11.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/nazar-3.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/nazar-13.jpg" alt="" /></a> </div>



                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section white-bg">
      <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
         <h2>Results</h2>
       </div>

       <div class="container">
         <div class="quotes-wrapp">
           <div class="quotes">
             <h3>Coming Soon</h3>
             <span class="quotes-writer"></span> </div>
         </div>
       </div>
     </div>-->
</main>
<?php include("footer.php"); ?>
