
@{
    ViewBag.Title = "Nutrela";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Nutrela";
    ViewBag.MetaDescription = "Live Healthy. Live Happy";
    ViewBag.MetaURL = "http://sparkt.in/work/nutrela.php";
    ViewBag.MetaImage = "http://sparkt.in/work/images/thums/yaarii-thum.jpg";
}
@section BodyClass {nutrela}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="../../Content/work/images/banners/ruchi-soya.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/HTHjDbYAnfI" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('../../Content/work/images/banners/ruchi-soya.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/images/title-icon.png" alt="" /></i>
                <h1>Nutrela</h1>
                <div class="clear"></div>
                <span>Live Healthy. Live Happy</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu");
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed nutrela-bg">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Nutrela Culinary Festival Kolkatta</h3>
                                </div>

                                <div class="three-img-carousel-wrapp">
                                    <div class=" single-video-carousel">
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/HTHjDbYAnfI/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/HTHjDbYAnfI" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section white-bg">
     <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
        <h2>Results</h2>
      </div>

      <div class="container">
        <div class="quotes-wrapp">
          <div class="quotes">
            <h3>Coming Soon</h3>
            <span class="quotes-writer"></span> </div>
        </div>
      </div>
    </div>-->
</main>