
@{
    ViewBag.Title = "Sparkt | One Plus | OnePlus";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | One Plus | OnePlus";
    ViewBag.MetaDescription = "The power of 5 in customer care";
    ViewBag.MetaURL = "https://sparkt.in/work/OnePlus";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/oneplus-thum.jpg";
}
@section BodyClass {one -plus}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "OnePlus Video",
    "VideoList": [{
    "@@type":
    "@@id": "https://youtu.be/ECodh83YZc0",
    "url":"https://youtu.be/ECodh83YZc0",
    "description": "The power of 5 in customer care",
    "duration": "1M47S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/oneplus-cover.jpg",
    "uploadDate":"05/01/2018",
    }]
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/oneplus-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/ECodh83YZc0" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/oneplus-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>OnePlus</h1>
                <div class="clear"></div>
                <span>The power of 5 in customer care</span>
            </div>            
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel black-bg ">
                <div class="slider">
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Using primary content to <br>produce media-sensitive slices</h3>
                                </div>
                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="https://i3.ytimg.com/vi/GSj4KLwj8J4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/GSj4KLwj8J4" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://i3.ytimg.com/vi/ECodh83YZc0/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/ECodh83YZc0" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://i3.ytimg.com/vi/rkLXXlCQUHE/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/rkLXXlCQUHE" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://i3.ytimg.com/vi/z-E9MElxZ4M/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/z-E9MElxZ4M" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://i3.ytimg.com/vi/hqLFwwx3rjk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/hqLFwwx3rjk" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="https://i3.ytimg.com/vi/GSj4KLwj8J4/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="https://i3.ytimg.com/vi/ECodh83YZc0/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="https://i3.ytimg.com/vi/rkLXXlCQUHE/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="https://i3.ytimg.com/vi/z-E9MElxZ4M/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-grow"><img src="https://i3.ytimg.com/vi/hqLFwwx3rjk/maxresdefault.jpg" alt="" /></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-1 hvr-float-shadow">
                        <div class="result-info ">  <span class="result-points">TOP <strong>10</strong> MOST VIEWED VIDEOS ON YOUTUBE IN JULY 2017</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            @*<div class="quotes-wrapp">
                <div class="quotes">
                    <h3></h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>*@
        </div>
    </div>
</main>
