@{
    ViewBag.Title = "Sparkt | Peddar Jhonson";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Peddar Jhonson";
    ViewBag.MetaDescription = "An online store with high-quality products for senior citizens.";
    ViewBag.MetaURL = "https://sparkt.in/work/Pedderjohnson";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/pedderjohnson-thum.jpg";
}
@section BodyClass {others}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/pedder-johnson-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Peddar Jhonson</h1>
                <div class="clear"></div>
                <span>An online store with high-quality products for senior citizens</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel" style="background-image: url('/Content/work/images/pedderjohnson-bg.jpg')">
                <div class="slider">



                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Enabling online commerce through a refreshed consumer experience with extensions through communication, search and media strategies.</h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="/Content/work/images/pedderjohnson-desktop.jpg" style="max-width: 100%; background-image: url('/Content/work/images/pedderjohnson-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                            <!--  <source  src="media/brickex-desktop.mp4" type="video/mp4" >-->

                                        </video>
                                        <script>document.getElementById("desktop").controls = false;</script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="/Content/work/images/pedderjohnson-mobile.jpg" style="max-width: 100%; background-image: url('/Content/work/images/pedderjohnson-mobile.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                            <!-- <source  src="media/brickex-mob.mp4" type="video/mp4" >-->

                                        </video>
                                        <script>document.getElementById("mobile").controls = false;</script>
                                    </div>

                                    <a href="https://www.pedderjohnson.com/" target="_blank" class="view-website">VIEW WEBSITE</a>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!--<div class="section white-bg">
      <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
         <h2>Results</h2>
       </div>

       <div class="container">
         <div class="quotes-wrapp">
           <div class="quotes">
             <h3>Coming Soon</h3>
             <span class="quotes-writer"></span> </div>
         </div>
       </div>
     </div>-->
</main>

