
@{
    ViewBag.Title = "Sparkt | Piramal | Piramal Housing Finance";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Piramal | Piramal Housing Finance";
    ViewBag.MetaDescription = "A customer-first approach to home loans";
    ViewBag.MetaURL = "https://sparkt.in/work/Phfl";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/phfl-thum.jpg";
}
@section BodyClass {piramal}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/phfl-cover.jpg);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Piramal Housing Finance</h1>
                <div class="clear"></div>
                <span>A customer-first approach to home loans</span>
              
            </div>           
        </div>
        @Html.Partial("_WorkMenu")

        
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel piramal-bg ">
                <div class="slider">



                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        Responsive web design to enliven the home buying experience at Piramal Housing Finance
                                    </h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="~/Content/work/images/phfl-desktop.jpg" style="max-width: 100%;" preload="none" controls="False" loop autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/desktop.mp4" type="video/mp4" >
                                            <source src="media/desktop.ogg" type="video/ogg" >-->
                                        </video>
                                        <script> document.getElementById( "desktop" ).controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/phfl-mobile.jpg" style="max-width: 100%;" preload="none" controls="false" loop autoplay playsinline webkit-playsinline>
                                            <!--<source  src="media/mobile.mp4" type="video/mp4" >
                                            <source src="media/mobile.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <!--<a href="https://www.piramalhousing.in/" target="_blank" class="view-website">VIEW WEBSITE</a>-->

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
           <h2>Results</h2>
         </div>-->

        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Sparkt's approach is very similar to ours. They strive to define the larger problem statement and then provide a solution that is the best fitment to the brand. Sparkt gives a feeling that they are part of the same team. Most importantly they understand the business aspect really well and that understanding reflects in the delivery.</h3>
                    <span class="quotes-writer">Mayank Jain - Head of Sales & Marketing - Piramal Housing Finance Ltd.</span>
                </div>
            </div>
        </div>
    </div>
</main>

