
@{
    ViewBag.Title = "Sparkt Work|Philips";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
     ViewBag.MetaTitle = "Sparkt | Philips";
    ViewBag.MetaDescription = "Autls Take on Sleep";
    ViewBag.MetaURL = "https://sparkt.in/work/philips";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/philips-thum.jpg";
}

    <main>
        <div class="section">

            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video">
                        <video class="bannerplayer" poster="/Content/work/images/banners/philips-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                            <source type="video/youtube" src="https://youtu.be/f7NEK5ginDc" />
                        </video>
                    </div>
                    <div class="banner-image" style="background-image: url('/Content/work/images/banners/phfl-cover.jpg');"> </div>
                </div>
                <div class="head-title floated">
                    <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>Philips</h1>
                    <div class="clear"></div>
                    <span>Autls Take on Sleep</span>
                </div>
            </div>

            @Html.Partial("_WorkMenu")
        </div>
        <div class="section">
            <div class="head-title floated ">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative Assets</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel fixed philips-bg">
                    <div class="slider">
                        <div>
                            <div class="creative-assets">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>Wake Up Feel Alive</h3>
                                    </div>
                                    <div class="sparkt-carousel square-wrapp">
                                        <div class="mobile-wrapp square">
                                            <div class="video-slider">
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-1.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-2.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-3.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-4.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-5.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-6.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-7.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-8.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-9.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-10.jpg" alt="">
                                                </div>
                                                <div class="video-item">
                                                    <img src="/Content/work/images/philips-fb-post-11.jpg" alt="">
                                                </div>



                                            </div>
                                            <!--  <span class="push-elem " ><img src="images/push-charactor.png" alt=""/></span>-->
                                        </div>
                                        <div class="video-nav">
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-1.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-2.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-3.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-4.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-5.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-6.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-7.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-8.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-9.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-10.jpg" alt="" /></a> </div>
                                            <div class="nav-item"><a class="hvr-trim"><img src="/Content/work/images/philips-fb-post-11.jpg" alt="" /></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section white-bg">
     <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
        <h2>Results</h2>
      </div>

      <div class="container">
        <div class="quotes-wrapp">
          <div class="quotes">
            <h3>Coming Soon</h3>
            <span class="quotes-writer"></span> </div>
        </div>
      </div>
    </div>-->
    </main>

