
@{
    ViewBag.Title = "Sparkt | Piramal | Piramal Capital";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Piramal | Piramal Capital";
    ViewBag.MetaDescription = "Values create value";
    ViewBag.MetaURL = "https://sparkt.in/work/PiramalCapital";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/piramalcapital-thum.jpg";
}
@section BodyClass {piramal}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "Piramal Capital Video",
    "@@id": "https://www.sparkt.in/Content/work/media/piramal-desktop.mp4",
    "url":"https://www.sparkt.in/Content/work/media/piramal-desktop.mp4",
    "description": "Web and mobile ecosystem to reflect Piramal Capital's unprecedented growth story",
    "duration": "T2M28S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/piramal-capital-mobile.jpg",
    "uploadDate":"05/01/2018"
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/piramal-capital-cover.jpg);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Piramal Capital</h1>
                <div class="clear"></div>
                <span>Values create value</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")

        
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel piramal-bg ">
                <div class="slider">



                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Web and mobile ecosystem to reflect <br>Piramal Capital's unprecedented growth story </h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="~/Content/work/images/piramal-capital-desktop.jpg" style="max-width: 100%;" preload="none" controls="False" loop autoplay playsinline webkit-playsinline>
                                            <source src="media/piramal-desktop.mp4" type="video/mp4">

                                        </video>
                                        <script> document.getElementById( "desktop" ).controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/piramal-capital-mobile.jpg" style="max-width: 100%;" preload="none" controls="false" loop autoplay playsinline webkit-playsinline>
                                            <source src="media/piramal-mobile.mp4" type="video/mp4">
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <!--<a href="https://piramalfinance.com/" target="_blank" class="view-website">VIEW WEBSITE</a>-->

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
           <h2>Results</h2>
         </div>-->

        @*<div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon</h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>
        </div>*@
    </div>
</main>
