
@{
    ViewBag.Title = "PiramalFoundation";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}
@{
    ViewBag.Title = "Sparkt | Star Plus | PiramalFoundation";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Piramal Foundation";
    ViewBag.MetaDescription = "Values create value";
    ViewBag.MetaURL = "https://sparkt.in/work/piramalfoundation";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/piramalcapital-thum.jpg";
}
@section BodyClass {piramal}
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "VideoObject",
        "name": "Kullfi Video",
        "VideoList": [{
        "@@type":
        "@@id": "",
        "url":"",
        "description": "Showcasing the essence of the foundation.",
        "duration": "2M30S",
        "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/piramal-foundation.jpg",
        "uploadDate":"06/21/2019",
        }]
        }
    </script>

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(/Content/work/images/banners/piramal-foundation-cover.jpg);">

                </div>
              
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Piramal Foundation</h1>
                <div class="clear"></div>
                <span>Showcasing the essence of the foundation.</span>
            </div>
        </div>

        @Html.Partial("_WorkMenu")
    </div>

    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel piramal-bg ">
                <div class="slider">



                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>A refreshing digital experience that enthuses the audience. </h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" style="max-width: 100%; background-image: url('/Content/work/images/piramal-foundation-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline >
                                              <source  src="~/Content/work/media/piramal-foundation-desktop.mp4" type="video/mp4" >

                                        </video>
                                        <script>document.getElementById("desktop").controls = false;</script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" style="max-width: 100%; background-image: url('/Content/work/images/piramal-foundation-mobile.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline  >
                                            <source  src="~/Content/work/media/piramal-foundation-mobile.mp4" type="video/mp4" >

                                        </video>
                                        <script>document.getElementById("mobile").controls = false;</script>
                                    </div>

                                    <a href="https://piramalfoundation.org/" target="_blank" class="view-website">VIEW WEBSITE</a>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</main>

