@{
    ViewBag.Title = "Sparkt | Star Plus |Sanju";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Sanju";
    ViewBag.MetaDescription = "Innovative video integrations.";
    ViewBag.MetaURL = "https://sparkt.in/work/Sanju";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/sanju-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/sanju-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Sanju</h1>
                <div class="clear"></div>
                <span>Innovative video integrations</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel star-new-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Building anticipation on social platforms for Sanju’s World Television Premiere on Star Plus using innovative visual formats to repurpose content snippets.</h3>
                                </div>


                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/Qx_uofTZeBw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Qx_uofTZeBw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/fYo7nypTGzM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/fYo7nypTGzM" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/u3eClSYTWoU/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/u3eClSYTWoU" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/64FgtfZFOV8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/64FgtfZFOV8" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/rcNaAxN574g/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/rcNaAxN574g" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/3RYZweJbahM/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/3RYZweJbahM" type="video/youtube" />
                                                </video>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Qx_uofTZeBw/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/fYo7nypTGzM/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/u3eClSYTWoU/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/64FgtfZFOV8/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/rcNaAxN574g/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/3RYZweJbahM/maxresdefault.jpg" alt="" /></a> </div>


                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section white-bg">
      <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
         <h2>Results</h2>
       </div>

       <div class="container">
         <div class="quotes-wrapp">
           <div class="quotes">
             <h3>Coming Soon</h3>
             <span class="quotes-writer"></span> </div>
         </div>
       </div>
     </div>-->
</main>



