
@{
    ViewBag.Title = "Sparkt Work | Seven-Seas";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "SEVEN SEAS";
    ViewBag.MetaDescription = "Celebrating the genius potential in every child with #MyLittleGenius";
    ViewBag.MetaURL = "https://sparkt.in/work/Seven-Seas";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/seven-seas.jpg";
}

@section BodyClass {png-health}
<main>

    <div class="section">
        <div class="work-banner">

            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="../../Content/work/images/banners/seven-seas-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/Z4NTVlOj7s4" />
                    </video>
                </div>
                <div class="banner-image" style="background-image:url('../../Content/work/images/banners/seven-seas-cover.jpg')">
                </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="../../Content/work/images/title-icon.png" alt="" /></i>
                <h1>Seven Seas</h1>
                <div class="clear"></div>
                <span>Celebrating the genius potential in every child with #MyLittleGenius</span>
            </div>
            @Html.Partial("_WorkMenu")
        </div>
    </div>

        <div class="section white-bg">
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="../../Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative ASSETS</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel" style="background-image:url(../../Content/work/images/seven-seas-ar-bg.jpg) ">
                   
                    <div class="slider">
                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title" style="color: #f03442;">
                                        <h3>Heart-warming films that showcase the genius potential which exists in every child.</h3>
                                    </div>
                                    <div class="three-img-carousel-wrapp dark">
                                        <div class="three-img-carousel">
                                            <div>
                                                <div class="video-item">
                                                    <video poster="../../Content/work/images/heart-warming-film-1.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                        <source src="https://youtu.be/HFv8z9wXopE" type="video/youtube" />
                                                    </video>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="video-item">
                                                    <video poster="../../Content/work/images/heart-warming-film-2.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                        <source src="https://youtu.be/_eLVU0oAyI0" type="video/youtube" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title" style="color: #f03442;">
                                        <h3>Leveraging social media forms and formats to promote the #MyLittleGenius contest</h3>
                                    </div>
                                    <div class="project fadeIn" data-t-show="1">
                                        <div class="">
                                            <img src="../../Content/work/images/seven-seas.png" alt="" style="width: 100%;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title" style="color: #f03442;">
                                        <h3>An online gallery showcasing genius creations aggregated through conversations for the #MyLittleGenius campaign</h3>
                                    </div>
                                    <div class="project fadeIn" data-t-show="1">
                                        <div style="position: relative">
                                            <img src="../../Content/work/images/seven-seas-landing-page.png" alt="" style="width: 100%;">

                                            <a href="https://www.seven-seas.com/en_IN/my-little-genius.html" target="_blank" class="view-website" tabindex="0" style="left: 50%; right: inherit; transform: translateX(-50%); -webkit-transform: translateX(-50%) ">View website</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        
</main>

