
@{
    ViewBag.Title = "Star-Plus-Brand-Refresh";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}
@{
    ViewBag.Title = "Sparkt | Star Plus | Star Plus Brand Refresh";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Star Plus Brand Refresh";
    ViewBag.MetaDescription = "She sings about anything!";
    ViewBag.MetaURL = "https://sparkt.in/work/star-plus-brand-refresh";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/star-plus-brand-refresh-thum.jpg";
}
@section BodyClass {star-plus}
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "VideoObject",
        "name": "Kullfi Video",
        "VideoList": [{
        "@@type":
        "@@id": "https://youtu.be/1dL2ZhKZDZ8",
        "url":"https://youtu.be/1dL2ZhKZDZ8",
        "description": "DONNING A NEW IDENTITY AND EMBODYING THE PHILOSOPHY IN WAY THAT IS WHOLISTIC!",
        "duration": "2M30S",
        "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/star-plus-brand-cover.png",
        "uploadDate":"06/21/2019",
        }]
        }
    </script>
    <main>
        <div class="section">
            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video">
                        <video class="bannerplayer" poster="~/Content/work/images/banners/star-plus-brand-cover.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                            <source type="video/youtube" src="https://youtu.be/1dL2ZhKZDZ8" />
                        </video>
                    </div>
                    <div class="banner-image" style="background-image: url(../Content/work/images/banners/star-plus-brand-cover.jpg);"> </div>

                </div>
                <div class="head-title floated">
                    <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>Star Plus Brand Refresh</h1>
                    <div class="clear"></div>
                    <span>DONNING A NEW IDENTITY AND EMBODYING THE PHILOSOPHY IN WAY THAT IS WHOLISTIC.</span>
                </div>
            </div>

            @Html.Partial("_WorkMenu")
        </div>

        <div class="section">
    <div class="head-title floated "> <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt=""/></i>
      <h2>Creative Experience</h2>
    </div>
    <div class="creative-assets-wrapp">
      <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/star-bg.jpg);">
        <div class="slider">
			
			   <div>
            <div class="creative-assets">
              <div class="container">
             <div class="assets-title">
                  <h3>SHADES OF NAYI BAAT</h3>
                </div>
                <div class="three-img-carousel-wrapp" >
						<div class="three-img-carousel">
						<div><img src="~/Content/work/images/baat-1.png" alt=""/></div>
						<div><img src="~/Content/work/images/baat-2.png" alt=""/></div>
						<div><img src="~/Content/work/images/baat-3.png" alt=""/></div>
						<div><img src="~/Content/work/images/baat-4.png" alt=""/></div>
						<div><img src="~/Content/work/images/baat-5.png" alt=""/></div>
						<div><img src="~/Content/work/images/baat-6.png" alt=""/></div>
							
						</div>
		
				 </div>
				  
				  
              </div>
            </div>
          </div>
			
			<div>
            <div class="creative-assets" >
              <div class="container">
                <div class="assets-title">
                  <h3>SHOWCASING NAYI BAAT TO AUDIENCES ACROSS THE COUNTRY</h3>
                </div>
                <div class="sparkt-carousel">
                  <div class="mobile-wrapp">
				
                    <div class="video-slider">
                      <div class="video-item">
                        <video poster="http://img.youtube.com/vi/51hb_wrGs7I/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/51hb_wrGs7I" type="video/youtube"/>
                        </video>
                      </div>
						
                     
                     
					
                    </div>
                  </div>
                <!--  <div class="video-nav">
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/FmmX4GmRp4s/maxresdefault.jpg" alt=""/></a> </div>
                  
                    
                  </div>-->
                </div>
              </div>
            </div>
          </div>
			
			<div>
				<div class="youtube-bg" >
            <div class="creative-assets  "  >
              <div class="container">
                <div class="assets-title">
                  <h2 style="width: 90%; margin:0 auto;" >Youtube Masthead aggregated 94mn reach with Highest video views (22mn) achieved till date for any brand in India The masthead video had a completion rate of 0.18%, which is high for a 2min video, benchmark for 30s is 0.25%</h2>
                </div>
               
				 <div class="laptop-side-angle ted-laptop" >
				 	<div class="laptop hvr-bob" >
						<img src="~/Content/work/images/star-plus-laptop.png"  alt="" >
					</div>
					 <div class="iphone hvr-grow" ><img src="~/Content/work/images/star-plus-iphone.png"  alt="" ></div>
					 <div class="yt-logo hvr-grow" ><img src="~/Content/work/images/youtube.png"  alt="" ></div>
				  </div>
				  
              </div>
            </div>
          </div>
			</div>
			
			
				<div>
            <div class="creative-assets "  >
              <div class="container">
                <div class="assets-title">
                  <h3>EXTENDING ACROSS TRADE</h3>
                </div>
               
				  
				  <div class="project fadeIn" data-t-show="1">
                  <div class="project__card"> <a class="project__image"><img src="~/Content/work/images/star-brand-refresh-add-banner.png"  alt="" ></a>
                    <!--<div class="project__detail">
                      <h2 class="project__title"><a href="#">CREATIVE APPROACH</a></h2>
						<small class="project__category"><a href="#">MAKE YOUR OWN VIRTUAL JERSEY ON A GOOGLE LIGHTBOX BANNER</a></small>
                    </div>-->
                  </div>
					
                </div>	
				  
              </div>
            </div>
          </div>
			
				<div>
            <div class="creative-assets" >
              <div class="container">
                <div class="assets-title">
                  <h3>HIGHLIGHTING THE NAYI BAAT WITH ALL SHOWS & CHARACTERS</h3>
                </div>
                <div class="sparkt-carousel">
                  <div class="mobile-wrapp">
				
					 
                    <div class="video-slider">
                      <div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-hspubh.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/I_2sc3V_pkM" type="video/youtube"/>
                        </video>
                      </div>
						
					<div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-yrkkh.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/GmQ8nNN5GJk" type="video/youtube"/>
                        </video>
                      </div>	
						
					<div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-sabse-smart-kaun.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/_A-0Uh6puF0" type="video/youtube"/>
                        </video>
                      </div>		
						
                     <div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-kulfi.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/PGzYkPy8ef8" type="video/youtube"/>
                        </video>
                      </div>	
						
						  <div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-mariam-khan.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/aQdnUxkj9ww" type="video/youtube"/>
                        </video>
                      </div>
						
					<div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-danceplus.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/1CnFrIRf2NY" type="video/youtube"/>
                        </video>
                      </div>	
						
					<div class="video-item">
                        <video poster="~/Content/work/images/baat-nayi-kcl.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/IknE7fuB3jQ" type="video/youtube"/>
                        </video>
                      </div>
                     
					
                    </div>
                  </div>
               <div class="video-nav">
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-hspubh.jpg" alt=""/></a> </div>
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-yrkkh.jpg" alt=""/></a> </div>
				   <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-sabse-smart-kaun.jpg" alt=""/></a> </div>
				 <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-kulfi.jpg" alt=""/></a> </div>
				     <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-mariam-khan.jpg" alt=""/></a> </div>
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-danceplus.jpg" alt=""/></a> </div>
				   <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/baat-nayi-kcl.jpg" alt=""/></a> </div>
				
                  </div>
                </div>
              </div>
            </div>
          </div>
		
			
     

			<div>
            <div class="creative-assets" >
              <div class="container">
                <div class="assets-title">
                  <h3>FORMAT INNOVATION</h3>
                </div>
               <div class="sparkt-carousel square ">

                                    <div class="mobile-wrapp">

                                        <!-- <span class="chaitu-elem elem-7" ><img src="~/Content/work/images/chaitulala-elem-7.png" alt=""/></span>-->
                                        <div class="video-slider">
											<div class="video-item">

                                                <video poster="http://img.youtube.com/vi/NGXAKj9wluQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>

                                                    <source src="https://youtu.be/NGXAKj9wluQ" type="video/youtube" />

                                                </video>

                                            </div>
											
											<div class="video-item">

                                                <video poster="~/Content/work/images/cinema-kulfi.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>

                                                    <source src="https://youtu.be/B2YXs9y_34M" type="video/youtube" />

                                                </video>

                                            </div>

                                            <div class="video-item">

                                                <video poster="~/Content/work/images/cinema-khichdi.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>

                                                    <source src="https://youtu.be/zOFqSRLTPIU" type="video/youtube" />

                                                </video>

                                            </div>

                                            <div class="video-item">

                                                <video poster="~/Content/work/images/cinema-hspubh.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>

                                                    <source src="https://youtu.be/U5G8pG1SzBU" type="video/youtube" />

                                                </video>

                                            </div>



                                        </div>

                                    </div>

                                    <div class="video-nav">

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/NGXAKj9wluQ/maxresdefault.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/cinema-kulfi.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/cinema-khichdi.jpg" alt="" /></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/cinema-hspubh.jpg" alt="" /></a> </div>

                                       




                                    </div>

                                </div>
                </div>
              </div>
            </div>
			
			
			<div>
            <div class="creative-assets" >
              <div class="container">
                <div class="assets-title">
                  <h3>POPULARIZING THE SONG</h3>
                </div>
                <div class="sparkt-carousel">
                  <div class="mobile-wrapp">
				
					 
                    <div class="video-slider">
                      <div class="video-item">
                        <video poster="http://img.youtube.com/vi/y_xD7Aehcog/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/y_xD7Aehcog" type="video/youtube"/>
                        </video>
                      </div>
						
					<div class="video-item">
                        <video poster="http://img.youtube.com/vi/WfucHcETRfw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/WfucHcETRfw" type="video/youtube"/>
                        </video>
                      </div>	
						
		
						
                     
					
                    </div>
                  </div>
               <div class="video-nav">
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/y_xD7Aehcog/maxresdefault.jpg" alt=""/></a> </div>
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/WfucHcETRfw/maxresdefault.jpg" alt=""/></a> </div>

				  
                  </div>
                </div>
              </div>
            </div>
          </div>
			
		

        </div>
      </div>
    </div>
  </div>

        <div class="section white-bg">
            <div class="head-title floated text-color-dark">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Results</h2>
            </div>
            <div class="container bottom-padding-none">
                <div class="result-wrapp">
                    <ul class="fadeUp t-infinity">
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">VIEWS</span> <span class="result-points">20.67</span> <span class="result">MILLION</span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">28.4</span> <span class="result">MILLION</span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">839</span> <span class="result">MILLION</span> </div>
                        </li>
                        <li class="col-4 hvr-float-shadow">
                            <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">115</span> <span class="result">MILLION</span> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="container">
          <div class="quotes-wrapp">
            <div class="quotes">
              <h3>Coming Soon</h3>
              <span class="quotes-writer"></span> </div>
          </div>
        </div>-->
        </div>
    </main>