@{
    ViewBag.Title = "Star-Second-Screen";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}
@{
    ViewBag.Title = "Sparkt Work | Star Second Screen";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt Work | Star Second Screen";
    ViewBag.MetaDescription = "Extending the content experience beyond traditional broadcast media to the consumer's mobile eco-system";
    ViewBag.MetaURL = "https://sparkt.in/work/star-plus-brand-refresh";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/star-plus-brand-refresh-thum.jpg";
}
@section BodyClass {star-plus}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('../Content/work/images/banners/second-screen-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Second Screen</h1>
                <div class="clear"></div>
                <span>Extending the content experience beyond traditional broadcast media to the consumer's mobile eco-system</span>
            </div>

        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel " style="background-image: url(../Content/work/images/nach-slide-2-bg.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>A mobile-first website that elevates the channel universe through exclusive content pieces</h3>
                                </div>
                                <div class="twitter-tweets" style="padding-bottom: 100px;">
                                    <ul>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/second-screen-1.jpg" alt=""></span>
                                                <!--<figcaption>MAHINDRA INVITES YOU TO TRY ITS NEW VOICE ENABLED WEBSITE</figcaption>-->
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/second-screen-2.jpg" alt=""></span>
                                                <!--<figcaption>USERS BEGIN INTERACTION WITH A SIMPLE ‘HELLO M’</figcaption>-->
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/second-screen-3.jpg" alt=""></span>
                                                <!--<figcaption>MAHINDRA WEBSITE VOICE ACTIVATED</figcaption>-->
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/second-screen-4.jpg" alt=""></span>
                                                <!--<figcaption>USERS GIVE A VOICE COMMAND</figcaption>-->
                                            </figure>

                                        </li>
                                        <li class="col-5">
                                            <figure class="">
                                                <span><img src="~/Content/work/images/second-screen-5.jpg" alt=""></span>
                                                <!--  <figcaption>WEBSITE TAKES THEM TO THE DESIRED LANDING PAGE</figcaption>-->
                                            </figure>

                                        </li>
                                    </ul>

                                    <a href="https://kulfi.hotstar.com/" target="_blank" class="view-website center" style="bottom: 0">
                                        Experience Application <span class="info" style="position: absolute; left: 50%; transform: translateX(-50%); top: 100%; width:200px;text-align: center;
    padding: 8px 0;">Only for mobile</span>
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</main>

