@{
    ViewBag.Title = "Sparkt | Star Plus | Stree";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Stree";
    ViewBag.MetaDescription = "Disruptive social media extensions.";
    ViewBag.MetaURL = "https://sparkt.in/work/Stree";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/stree-thum.jpg";
}
@section BodyClass {starplus}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/stree-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Stree</h1>
                <div class="clear"></div>
                <span>Disruptive social media extensions</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel star-new-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Create intrigue for the World Television Premiere of Stree on Star Plus putting disruptive content integrations across social media platforms</h3>
                                </div>


                                <div class="sparkt-carousel">
                                    <div class="mobile-wrapp">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/fT1lyQFliDw/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/fT1lyQFliDw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/GKDeWuSqIu4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/GKDeWuSqIu4" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="/Content/work/images/video-thums/stree-3.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/wpwicYTTr50" type="video/youtube" />
                                                </video>
                                            </div>

                                            <div class="video-item">
                                                <video poster="https://img.youtube.com/vi/DA9LxLcz06g/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/DA9LxLcz06g" type="video/youtube" />
                                                </video>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="video-nav">

                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/fT1lyQFliDw/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/GKDeWuSqIu4/maxresdefault.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="/Content/work/images/video-thums/stree-3.jpg" alt="" /></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/DA9LxLcz06g/maxresdefault.jpg" alt="" /></a> </div>


                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section white-bg">
      <!-- <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
         <h2>Results</h2>
       </div>

       <div class="container">
         <div class="quotes-wrapp">
           <div class="quotes">
             <h3>Coming Soon</h3>
             <span class="quotes-writer"></span> </div>
         </div>
       </div>
     </div>-->
</main>
