
@{
    ViewBag.Title = "Sparkt | Star | Star Writers Program";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star | Star Writers Program";
    ViewBag.MetaDescription = "Creating Indias first university program for creative writers";
    ViewBag.MetaURL = "https://sparkt.in/work/Swp";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/swp-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url(../Content/work/images/banners/swp-cover.jpg);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>STAR WRITERS PROGRAM</h1>
                <div class="clear"></div>
                <span>Creating India's first university program for creative writers</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")

    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Experience</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  star-color-bg">
                <div class="slider">
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Virtual university residing on a responsive website</h3>
                                    <p>A screenwriter’s program enabled through a responsive website which triangulates the students, a world-renowned dean and the biggest television network in india that will absorb the cream of the crop at the end of the program.</p>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop" poster="~/Content/work/images/swp-desktop.jpg" style="max-width: 100%; background-image: url('/Content/work/images/swp-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                            <!--<source  src="media/desktop.mp4" type="video/mp4" >
                                            <source src="media/desktop.ogg" type="video/ogg" >-->
                                        </video>
                                        <script> document.getElementById( "desktop" ).controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" poster="~/Content/work/images/swp-mobile.jpg" style="max-width: 100%; background-image: url('/Content/work/images/swp-mobile.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                            <!--<source  src="media/mobile.mp4" type="video/mp4" >
                                            <source src="media/mobile.ogg" type="video/ogg" >-->
                                        </video>
                                        <script>document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <a href="https://starwritersprogram.startv.com/" target="_blank" class="view-website">VIEW WEBSITE</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <!--  <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
            <h2>Results</h2>
          </div>-->

        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Thank the team for creating such an awesome piece of tech! Team Sparkt has always been helpful in tough situations and I think I speak for everyone when I say we consider Pooja to be an honorary SWeP!</h3>
                    <span class="quotes-writer">Preeti Kamani - Program Director, Star Writers Program</span>
                </div>
            </div>
        </div>
    </div>
</main>
