
@{
    ViewBag.Title = "Sparkt | Star Plus | TED TALKS";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | TED TALKS";
    ViewBag.MetaDescription = "Ted Talks India Nayi Soch";
    ViewBag.MetaURL = "http://sparkt.in/work/Ted";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/ted-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ted-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/reavbJxQ9Lw" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ted-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>TED TALKS INDIA</h1>
                <div class="clear"></div>
                <span>Nayi Soch</span>
            </div>           
        </div>       
        <div class="awards-wrap">
            <ul>

                <li class="tooltip" title="ACEF: Best use of Celebrity Endorsement - Gold"><img src="~/Content/work/images/awards/acef-gold.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="ACEF: 	Creativity - Bronze"><img src="~/Content/work/images/awards/acef-bronze.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="CIDCA: Use of Social Media in a campaign - Gold"><img src="~/Content/work/images/awards/cidca-2018-gold.png" class="responsive-img" alt="" /> </li>              
                <li class="tooltip" title="CIDCA: Integrated - Gold"><img src="~/Content/work/images/awards/cidca-2018-gold.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="CIDCA: Media Innovation - Silver"><img src="~/Content/work/images/awards/cidca-2018-silver.png" class="responsive-img" alt="" /> </li>
            </ul>
        </div>
        @Html.Partial("_WorkMenu")
     </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative ASSETS</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel red-base-bg ">
                <div class="slider">


                    <div class="video-carousel ted-bg ">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Distributing show promos to greet audiences <br>via demographic context mapping on Google </h4>
                                </div>


                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/video-thums/ted-video-2.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/kUHWiEuqJ_E" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/video-thums/ted-video-3.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/FtcrfwQRebk" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/video-thums/ted-video-4.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/hihlB9RfJKI" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/video-thums/ted-video-1.png" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/fNu_AlL_vPc" type="video/youtube" />
                                        </video>
                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="video-nav">
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/ted-video-2.png" alt="" /><span class="caption">Pool</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/ted-video-3.png" alt="" /><span class="caption">Party</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/ted-video-4.png" alt="" /><span class="caption">Dad</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/video-thums/ted-video-1.png" alt="" /><span class="caption">Kids</span></a> </div>

                        </div>

                    </div>


                    <div class="video-carousel  light-blue-gradient">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>
                                        Starting nation-wide conversations to boost the significance of ideas and
                                        inspiration with a teaser campaign - Don't Kill Ideas
                                    </h4>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card ">
                                        <a class="project__image"><img src="~/Content/work/images/ted-dont-kill-ideas-campaign.png" alt=""></a>



                                    </div>
                                </div>


                            </div>

                        </div>






                        <div class="video-nav video-nav-gallery">



                            <div class="nav-item" data-src="http://www.youtube.com/embed/VSG2tUDVKyI?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-onir.jpg" data-sub-html="<h4>Onir (Influencer)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-onir.jpg" alt="" /><span class="caption">Onir (Influencer)</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/GLAvPwn8DkU?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-terence-lewis.jpg" data-sub-html="<h4>Terence Lewis (Influencer)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-terence-lewis.jpg" alt="" /><span class="caption">Terence Lewis (Influencer)</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/YxHaafzmpuE?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-roti-maker.jpg" data-sub-html="<h4>Roti Maker (Promo)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-roti-maker.jpg" alt="" /><span class="caption">Roti Maker (Promo)</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/vjwwGOfNi0U?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-drone.jpg" data-sub-html="<h4>Drone (Promo)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-drone.jpg" alt="" /><span class="caption">Drone (Promo)</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/jKC0714ZGJ4?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-live-with-virdass.jpg" data-sub-html="<h4>Live with Vir Das (Influencer)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-live-with-virdass.jpg" alt="" /><span class="caption">Live with Vir Das (Influencer)</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/JmYdy-tWFAU?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-remo.jpg" data-sub-html="<h4>Remo Dsouza (Influencer)</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-remo.jpg" alt="" /><span class="caption">Remo Dsouza (Influencer)</span></a> </div>





                        </div>

                    </div>
                    <div class="video-carousel light-blue-gradient ">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>
                                        Partnering with E4M to create stories with the best in business across print and
                                        digital to promote the importance of ideas in Indian society
                                    </h4>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card ">
                                        <a class="project__image"><img src="~/Content/work/images/ted-dont-kill-ideas.png" alt=""></a>



                                    </div>
                                </div>


                            </div>

                        </div>







                        <div class="video-nav video-nav-gallery">



                            <div class="nav-item" data-src="http://www.youtube.com/embed/DqXE73I7egQ?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-dr-velumani.jpg" data-sub-html="<h4>Dr. Velumani</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-dr-velumani.jpg" alt="" /><span class="caption">Dr. Velumani </span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/mQvsl3pIVlA?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-siddharth-bannerjee.jpg" data-sub-html="<h4>Sonali Dhawan</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-siddharth-bannerjee.jpg" alt="" /><span class="caption">Siddharth Bannerjee</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/jcUAZXHrUTY?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-ashish-basin.jpg" data-sub-html="<h4>Ashish Basin</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-ashish-basin.jpg" alt="" /><span class="caption">Ashish Basin</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/Ih1rvmOm02g?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-sam-balsara.jpg" data-sub-html="<h4>Sam Balsara</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-sam-balsara.jpg" alt="" /><span class="caption">Sam Balsara</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/rFvvuo3QL9k?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-subhash-kamath.jpg" data-sub-html="<h4>Subhash Kamath</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-subhash-kamath.jpg" alt="" /><span class="caption">Subhash Kamath</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/eu7F4LGngac?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-sonali-dhawan.jpg" data-sub-html="<h4>Sonali Dhawan</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-sonali-dhawan.jpg" alt="" /><span class="caption">Sonali Dhawan</span></a> </div>




                            <div class="nav-item" data-src="http://www.youtube.com/embed/CBni54SlppQ?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-rana-barua.jpg" data-sub-html="<h4>Rana Barua</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-rana-barua.jpg" alt="" /><span class="caption">Rana Barua</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/4kBLi3Zg_KA?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-ramesh-narayan.jpg" data-sub-html="<h4>Ramesh Narayan</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-ramesh-narayan.jpg" alt="" /><span class="caption">Ramesh Narayan</span></a> </div>



                            <div class="nav-item" data-src="http://www.youtube.com/embed/98EyXtCk1EQ?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-kashyap-vadpilli.jpg" data-sub-html="<h4>Kashyap Vadapilli</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-kashyap-vadpilli.jpg" alt="" /><span class="caption">Kashyap Vadapilli</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/673lDZ_lkUo?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-bobby-pawar.jpg" data-sub-html="<h4>Bobby Pawar</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-bobby-pawar.jpg" alt="" /><span class="caption">Bobby Pawar</span></a> </div>

                            <div class="nav-item" data-src="http://www.youtube.com/embed/Zy3lj8cslUA?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="/Content/work/images/ted-ajay-kakkar.jpg" data-sub-html="<h4>Ajay Kakkar</h4>"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-ajay-kakkar.jpg" alt="" /><span class="caption">Ajay Kakkar</span></a> </div>


                        </div>

                    </div>

                    <div class="youtube-bg">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Taking over YouTube on desktop and mobile with mastheads <br>on launch day to drive tune-ins </h3>
                                </div>


                                <div class="laptop-side-angle ted-laptop">
                                    <div class="laptop hvr-bob">
                                        <img src="~/Content/work/images/ted-laptop.png" alt="">
                                    </div>
                                    <div class="iphone hvr-grow"><img src="~/Content/work/images/ted-iphone.png" alt=""></div>
                                    <div class="yt-logo hvr-grow"><img src="~/Content/work/images/youtube.png" alt=""></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="video-carousel ted-bg">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>A series of social experiments as digital exclusive videos <br>to start conversations around episodic themes  </h4>
                                </div>


                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/ted-unapologetic-walking.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/j1ysw3Nh6G0" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/ted-andar-ka-sona.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/5J7G42AIzA0" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/ted-success-vs-happiness.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/j1XHPnmooR4" type="video/youtube" />
                                        </video>
                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="video-nav">
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-unapologetic-walking.jpg" alt="" /><span class="caption">Unapologetic Walking</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-andar-ka-sona.jpg" alt="" /><span class="caption">Andar Ka Sona</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="~/Content/work/images/ted-success-vs-happiness.jpg" alt="" /><span class="caption">Success Vs Happiness</span></a> </div>

                        </div>

                    </div>


                    <div class="blue-gradient-background">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>First of a kind Facebook Live with Shahrukh Khan <br>that was woven with offline content</h3>
                                </div>

                                <div class="facebook-live">
                                    <div class="laptop-video-wrapp">
                                        <div class="laptop-video">
                                            <span class="laptop-img"> <img src="~/Content/work/images/laptop-img.png" alt="" /></span>
                                            <span class="fb-img"> <img src="~/Content/work/images/laptop-fb-img.jpg" alt="" /></span>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/live-srk.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/qYOjQZeFP7Q" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="fb-live-icon"><img src="~/Content/work/images/fb-live-icon.png" alt=""></span>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="video-carousel purple-bg">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Delivering the power of ideas and inspiration with digital exclusive content <br>produced with the illustrious speakers on the show </h4>
                                </div>


                                <div class="project fadeIn" data-t-show="1">
                                    <div class="project__card ">
                                        <a class="project__image"><img src="~/Content/work/images/ted-speakers.png" alt=""></a>



                                    </div>
                                </div>


                            </div>

                        </div>


                        <div class="video-nav video-nav-gallery">
                            <div class="nav-item" data-src="http://www.youtube.com/embed/M2ET2wsWhfQ?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/M2ET2wsWhfQ/maxresdefault.jpg" data-sub-html="<h4>Manu Prakash</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/M2ET2wsWhfQ/maxresdefault.jpg" alt="" /><span class="caption">Manu Prakash</span></a> </div>

                            <div class="nav-item" data-src="http://www.youtube.com/embed/KZDt96MP1I4?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/KZDt96MP1I4/maxresdefault.jpg" data-sub-html="<h4>Karan Johar</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/KZDt96MP1I4/maxresdefault.jpg" alt="" /><span class="caption">Karan Johar</span></a> </div>

                            <div class="nav-item" data-src="http://www.youtube.com/embed/JGe9iNQhf4A?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/JGe9iNQhf4A/maxresdefault.jpg" data-sub-html="<h4>Manju Kapur</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/JGe9iNQhf4A/maxresdefault.jpg" alt="" /><span class="caption">Manju Kapur</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/J78gKwXYv8M?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/J78gKwXYv8M/maxresdefault.jpg" data-sub-html="<h4>Anirudh Sharma</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/J78gKwXYv8M/maxresdefault.jpg" alt="" /><span class="caption">Anirudh Sharma</span></a> </div>

                            <div class="nav-item" data-src="http://www.youtube.com/embed/98EyXtCk1EQ?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/98EyXtCk1EQ/maxresdefault.jpg" data-sub-html="<h4>Gautam Bhan</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/98EyXtCk1EQ/maxresdefault.jpg" alt="" /><span class="caption">Gautam Bhan</span></a> </div>


                            <div class="nav-item" data-src="http://www.youtube.com/embed/4KcPZqqsjSA?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/4KcPZqqsjSA/maxresdefault.jpg" data-sub-html="<h4>Prakulpa Sankar</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/4KcPZqqsjSA/maxresdefault.jpg" alt="" /><span class="caption">Prakulpa Sankar</span></a> </div>

                            <div class="nav-item" data-src="http://www.youtube.com/embed/gJ8yDeF-_pk?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/gJ8yDeF-_pk/maxresdefault.jpg" data-sub-html="<h4>Ambrish Mitra</h4>"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/gJ8yDeF-_pk/maxresdefault.jpg" alt="" /><span class="caption">Ambrish Mitra</span></a> </div>


                        </div>

                    </div>





                    <div class="twitter-bg">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Starting conversations with the <strong>audience</strong> and <br><strong>influencers</strong> alike making every episode a <strong>national trending topic</strong> </h4>
                                </div>

                                <div class="tw-tag-wrapp">
                                    <div class="tw-tag hvr-bob">
                                        <img src="~/Content/work/images/ted-mentions-phone.png" alt="" class="fadeIn" data-t-show="1" />
                                        <ul>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag1.png" alt="" class="fadeUp" data-t-show="1" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag2.png" alt="" class="fadeUp" data-t-show="2" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag3.png" alt="" class="fadeUp" data-t-show="3" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag4.png" alt="" class="fadeDown" data-t-show="1" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag5.png" alt="" class="fadeDown" data-t-show="2" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag6.png" alt="" class="fadeDown" data-t-show="3" /></li>
                                            <li class="hvr-push"><img src="~/Content/work/images/ted-tag7.png" alt="" class="fadeDown" data-t-show="4" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">VIDEO VIEWS</span> <span class="result-points">75.5</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">152</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENTS</span> <span class="result-points">1.1</span> <span class="result">MILLION</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>With TED Talks India Nayi Soch, STAR Plus expanded the canvas of Nayi Soch beyond gender, and dived deep into the power of ideas across all walks of life. Sparkt helped us with this expansion of our brand philosophy to produce true influence across audiences in India with a multitude of content. From a series of social experiments to explore the show's themes, exclusive stories to establish speakers, promo marketing to specific TGs, the first of a kind Facebook Live interweaving offline content and much more. With a holistic approach, TED Talks India Nayi Soch campaign created a large-scale creative intervention in India inspiring millions. </h3>
                    <span class="quotes-writer">- Aijaz Nakhuda, Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat) </span>
                </div>
            </div>
        </div>
    </div>
</main>