
@{
    ViewBag.Title = "Sparkt Work | Ted2019";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Ted2019";
    ViewBag.MetaDescription = "TED TALKS|NAYI BAAT";
    ViewBag.MetaURL = "https://sparkt.in/work/ted2019";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/ted-talks-nai-baat.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="../../Content/work/images/banners/ted-19-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/_LR1RpcTd9E" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url('../../Content/work/images/banners/ted-19-cover.jpg');"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="../../Content/work/images/title-icon.png" alt="" /></i>
                <h1>TED TALKS INDIA</h1>
                <div class="clear"></div>
                <span>Nayi Baat</span>
            </div>
        </div>

        <!--<div class="awards-wrap">
         <ul>

        <li class="tooltip" title="ACEF: Best use of Celebrity Endorsement - Gold"><img src="../../Content/work/images/awards/acef-gold.png" class="responsive-img" alt=""/> </li>
             <li class="tooltip" title="ACEF: 	Creativity - Bronze"><img src="../../Content/work/images/awards/acef-bronze.png" class="responsive-img" alt=""/> </li>

      </ul>
      </div>-->

        @Html.Partial("_WorkMenu")
    </div>

    <div class="section">
    <div class="head-title floated "> <i class="title-icon"><img src="../../Content/work/images/title-icon.png" alt=""/></i>
      <h2>Creative ASSETS</h2>
    </div>
    <div class="creative-assets-wrapp">
      <div class="assets-carousel red-base-bg ">
        <div class="slider"> 
          
      
			
			<div class="youtube-bg" >
            <div class="creative-assets">
              <div class="container">
                <div class="assets-title">
                  <h3>LEVERAGING TECHNOLOGY & SOCIAL NETWORKS, TED TALKS INDIA NAYI SOCH PRESS CONFERENCE WAS STREAMED AS A EVENT ACROSS SOCIAL PLATFORMS PROJECTING THE EFFORT AS A LANDMARK EVENT</h3>
                </div>
                <div class="facebook-live" >
                  <div class="laptop-video-wrapp without-side" >
                    <div class="laptop-video" > <span class="laptop-img" > <img src="../../Content/work/images/laptop-img.png" alt=""/></span> <!--<span class="fb-img" > <img src="../../Content/work/images/laptop-fb-img.jpg" alt=""/></span>-->
                      <div class="video-item" >
                        <video poster="../../Content/work/images/ted-youtube-video-live.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/CNjRNQMdUOk" type="video/youtube"/>
                        </video>
                      </div>
                    </div>
                  </div>
                  <span class="fb-live-icon youtubelive-icon"><img src="../../Content/work/images/icons/youtube-live.png" alt=""></span> </div>
              </div>
            </div>
          </div>
			
			
		<div class="video-carousel ted-bg" >
            <div class="creative-assets  "  >
              <div class="container">
                <div class="assets-title">
                  <h4>STARPLUS CELEBRITY INTERVENTION POWERED ENGAGEMENT & SUBSTANTIAL SOV DRIVING TUNE-INS FOR INDIVIDUAL EPISODES</h4>
                </div>
                <div class="video-slider">
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/9Q-ANTVPmFc/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/9Q-ANTVPmFc" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/BPMSbdqNLeY/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/BPMSbdqNLeY" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/SLkYGE0PcgA/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/SLkYGE0PcgA" type="video/youtube"/>
                    </video>
                  </div>
					<div class="video-item">
                    <video poster="https://img.youtube.com/vi/dXzTWAiOZbI/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/dXzTWAiOZbI" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/rh7xUkDtEw8/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/rh7xUkDtEw8" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/vX6NfbBxAZ4/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/vX6NfbBxAZ4" type="video/youtube"/>
                    </video>
                  </div>
					<div class="video-item">
                    <video poster="https://img.youtube.com/vi/7C-BiCn0I4k/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/7C-BiCn0I4k" type="video/youtube"/>
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <div class="video-nav">
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/9Q-ANTVPmFc/0.jpg" alt=""/><span class="caption" >Ojaswini</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/BPMSbdqNLeY/0.jpg" alt=""/><span class="caption" >Rohit</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/SLkYGE0PcgA/0.jpg" alt=""/><span class="caption" >Mahima</span></a> </div>
				<div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/dXzTWAiOZbI/0.jpg" alt=""/><span class="caption" >Raman</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/rh7xUkDtEw8/0.jpg" alt=""/><span class="caption" >Madhurima</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/vX6NfbBxAZ4/0.jpg" alt=""/><span class="caption" >Shekhar</span></a> </div>
				<div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/7C-BiCn0I4k/0.jpg" alt=""/><span class="caption" >Roshni</span></a> </div>
            </div>
          </div>
			
			<div class="" >
            <div class="creative-assets  ">
              <div class="container">
                <div class="assets-title">
                  <h3>SHAH RUKH IN A MILLION HOMES</h3>
                </div>
                
				  
				  <div class="three-img-carousel-wrapp" >
						<div class="three-img-carousel">
							<div> <div class="video-item">
                        <video poster="../../Content/work/images/srk-in-home.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/xUBhOffWL9U" type="video/youtube"/>
                        </video>
                      </div></div>
					
						</div>
		
				 </div>
				  
              </div>
            </div>
          </div>
			
			<div class="light-blue-gradient" >
            <div class="creative-assets  ">
              <div class="container">
                <div class="assets-title">
                  <h3>THE CHANGEMAKERS</h3>
                </div>
                
				<div class="sparkt-carousel square-wrapp">
                  <div class="mobile-wrapp square">
					 <!-- <span class="chaitu-elem elem-7" ><img src="../../Content/work/images/chaitulala-elem-7.png" alt=""/></span>-->
					 
                    <div class="video-slider">
						<div class="video-item">
                        <img src="../../Content/work/images/ted-vibha-krishnamurthy.png" alt="">
                      </div>
                      <div class="video-item">
                      <img src="../../Content/work/images/ted-ankit-kawatra.png" alt="">
                      </div>
                      <div class="video-item">
                         <img src="../../Content/work/images/ted-gitanjali-rao.png" alt="">
                      </div>
						<div class="video-item">
                         <img src="../../Content/work/images/ted-kavita-devi.png" alt="">
                      </div>
						
						<div class="video-item">
                        <img src="../../Content/work/images/ted-tahira-kashyap.png" alt="">
                      </div>
						<div class="video-item">
                        <img src="../../Content/work/images/ted-trisha-shetty.png" alt="">
                      </div>
						
						
                     
					
                    </div>
					<!--  <span class="push-elem " ><img src="../../Content/work/images/push-charactor.png" alt=""/></span>-->
                  </div>
                  <div class="video-nav">
                    <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-vibha-krishnamurthy.png" alt=""/></a> </div>
                    <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-ankit-kawatra.png" alt=""/></a> </div>
					 <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-gitanjali-rao.png" alt=""/></a> </div> 
					  <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-kavita-devi.png" alt=""/></a> </div> 
					 <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-tahira-kashyap.png" alt=""/></a> </div> 
					  <div class="nav-item"><a class="hvr-trim"><img src="../../Content/work/images/ted-trisha-shetty.png" alt=""/></a> </div>
                  </div>
                </div>
				  
              </div>
            </div>
          </div>
			
			
			
			
			<div class="video-carousel  light-blue-gradient" >
            <div class="creative-assets  "  >
              <div class="container">
                <div class="assets-title">
                  <h4>Each idea evolved in our content to individually create a strong reason to watch the show.</h4>
                </div>
                <div class="video-slider">
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/E5jsIDNsKVM/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/E5jsIDNsKVM" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/bYCVf5mUABg/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/bYCVf5mUABg" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/rQ0adQ-5tRA/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/rQ0adQ-5tRA" type="video/youtube"/>
                    </video>
                  </div>
					<div class="video-item">
                    <video poster="https://img.youtube.com/vi/Rr7o4RSu86U/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/Rr7o4RSu86U" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/GOtecyrjNEQ/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/GOtecyrjNEQ" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/RH0n0dAtWik/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/RH0n0dAtWik" type="video/youtube"/>
                    </video>
                  </div>
					<div class="video-item">
                    <video poster="https://img.youtube.com/vi/l8nJcFN68dU/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/l8nJcFN68dU" type="video/youtube"/>
                    </video>
                  </div>
					 <div class="video-item">
                    <video poster="https://img.youtube.com/vi/BmAVAaisFzY/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/BmAVAaisFzY" type="video/youtube"/>
                    </video>
                  </div>
                  <div class="video-item">
                    <video poster="https://img.youtube.com/vi/wxKFN5zuqdk/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/wxKFN5zuqdk" type="video/youtube"/>
                    </video>
                  </div>
					<div class="video-item">
                    <video poster="https://img.youtube.com/vi/gWNhnH6rC6Q/0.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                      <source src="https://youtu.be/gWNhnH6rC6Q" type="video/youtube"/>
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <div class="video-nav">
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/E5jsIDNsKVM/0.jpg" alt=""/><span class="caption" >Reason #1</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/bYCVf5mUABg/0.jpg" alt=""/><span class="caption" >Reason #2</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/rQ0adQ-5tRA/0.jpg" alt=""/><span class="caption" >Reason #3</span></a> </div>
			  <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/Rr7o4RSu86U/0.jpg" alt=""/><span class="caption" >Reason #4</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/GOtecyrjNEQ/0.jpg" alt=""/><span class="caption" >Reason #5</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/RH0n0dAtWik/0.jpg" alt=""/><span class="caption" >Reason #6</span></a> </div>
			  <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/l8nJcFN68dU/0.jpg" alt=""/><span class="caption" >Reason #7</span></a> </div>
			  <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/BmAVAaisFzY/0.jpg" alt=""/><span class="caption" >Reason #8</span></a> </div>
              <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/wxKFN5zuqdk/0.jpg" alt=""/><span class="caption" >Reason #9</span></a> </div>
			  <div class="nav-item"><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/gWNhnH6rC6Q/0.jpg" alt=""/><span class="caption" >Reason #10</span></a> </div>
            </div>
          </div>
			
			<div>
            <div class="creative-assets" >
              <div class="container">
                <div class="assets-title">
                  <h3>SPEAKER INTRODUCTIONS BY SHAH RUKH KHAN WERE DELIVERED THROUGH MICRO CONTENT CAPSULES BRINGING ALIVE THE CAUSE THEY BELIEVED IN </h3>
                </div>
                <div class="sparkt-carousel">
                  <div class="mobile-wrapp">
					 <!-- <span class="chaitu-elem elem-7" ><img src="../../Content/work/images/chaitulala-elem-7.png" alt=""/></span>-->
					 
                    <div class="video-slider">
                      <div class="video-item">
                        <video poster="http://img.youtube.com/vi/33xdSzF1O1c/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/33xdSzF1O1c" type="video/youtube"/>
                        </video>
                      </div>
                      <div class="video-item">
                        <video poster="http://img.youtube.com/vi/7K1-yo3piHc/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/7K1-yo3piHc" type="video/youtube"/>
                        </video>
                      </div>
                      <div class="video-item">
                        <video poster="http://img.youtube.com/vi/Ervmp-Yzypk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/Ervmp-Yzypk" type="video/youtube"/>
                        </video>
                      </div>
						
						 <div class="video-item">
                        <video poster="http://img.youtube.com/vi/tVXm3as1tjQ/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/tVXm3as1tjQ" type="video/youtube"/>
                        </video>
                      </div>
						
						
                     
					
                    </div>
                  </div>
                  <div class="video-nav">
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/33xdSzF1O1c/maxresdefault.jpg" alt=""/></a> </div>
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/7K1-yo3piHc/maxresdefault.jpg" alt=""/></a> </div>
                    <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/Ervmp-Yzypk/maxresdefault.jpg" alt=""/></a> </div>
					  
					  <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/tVXm3as1tjQ/maxresdefault.jpg" alt=""/></a> </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
			
			
          
          <!--<div class="video-carousel  light-blue-gradient" style="background-image: url('../../Content/work/images/ted-19-bg.png');"  >
            <div class="creative-assets "  >
              <div class="container">
                <div class="assets-title">
                  <h4>Starting nation-wide conversations to boost the significance of ideas and
                    inspiration with a teaser campaign - Don't Kill Ideas </h4>
                </div>
                <div class="project fadeIn" data-t-show="1">
                  <div class="project__card "  > <a class="project__image" ><img src="../../Content/work/images/ted-dont-kill-ideas-campaign.png"  alt="" ></a> </div>
                </div>
              </div>
            </div>
            <div class="video-nav video-nav-gallery">
              <div class="nav-item" data-src="http://www.youtube.com/embed/VSG2tUDVKyI?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-onir.jpg" data-sub-html="<h4>Onir (Influencer)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-onir.jpg" alt=""/><span class="caption" >Onir (Influencer)</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/GLAvPwn8DkU?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-terence-lewis.jpg" data-sub-html="<h4>Terence Lewis (Influencer)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-terence-lewis.jpg" alt=""/><span class="caption" >Terence Lewis (Influencer)</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/YxHaafzmpuE?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-roti-maker.jpg" data-sub-html="<h4>Roti Maker (Promo)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-roti-maker.jpg" alt=""/><span class="caption" >Roti Maker (Promo)</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/vjwwGOfNi0U?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-drone.jpg" data-sub-html="<h4>Drone (Promo)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-drone.jpg" alt=""/><span class="caption" >Drone (Promo)</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/jKC0714ZGJ4?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-live-with-virdass.jpg" data-sub-html="<h4>Live with Vir Das (Influencer)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-live-with-virdass.jpg" alt=""/><span class="caption" >Live with Vir Das (Influencer)</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/JmYdy-tWFAU?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="../../Content/work/images/ted-remo.jpg" data-sub-html="<h4>Remo Dsouza (Influencer)</h4>" ><a href="#" class="hvr-trim"><img src="../../Content/work/images/ted-remo.jpg" alt=""/><span class="caption" >Remo Dsouza (Influencer)</span></a> </div>
            </div>
          </div>-->
			
			<div class="video-carousel purple-bg" >
            <div class="creative-assets  "  >
              <div class="container">
                <div class="assets-title">
                  <h4>BEHIND THE SCENES SPEAKER VIDEOS ALLOWED FOR AN INSIGHT INTO THE SPEAKER JOURNEYS AND DEMONSTRATED THE BELIEF IN THE CAUSES THEY STOOD FOR.</h4>
                </div>
                <div class="project fadeIn" data-t-show="1">
                  <div class="project__card "  > <a class="project__image" ><img src="../../Content/work/images/ted-speakers-2019.png"  alt="" ></a> </div>
                </div>
              </div>
            </div>
            <div class="video-nav video-nav-gallery">
              <div class="nav-item" data-src="http://www.youtube.com/embed/vi7ODaOb2U8?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="https://img.youtube.com/vi/vi7ODaOb2U8/0.jpg" data-sub-html="<h4>Dr. Vibha Krishnamurthy</h4>" ><a href="#" class="hvr-trim"><img src="https://img.youtube.com/vi/vi7ODaOb2U8/0.jpg" alt=""/><span class="caption" >Dr. Vibha Krishnamurthy</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/AJ0q89tHPlE?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/AJ0q89tHPlE/maxresdefault.jpg" data-sub-html="<h4>Trisha Shetty</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/AJ0q89tHPlE/maxresdefault.jpg" alt=""/><span class="caption" >Trisha Shetty</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/pfY29C6xa6s?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/pfY29C6xa6s/maxresdefault.jpg" data-sub-html="<h4>Kavita Devi</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/pfY29C6xa6s/maxresdefault.jpg" alt=""/><span class="caption" >Kavita Devi</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/uAt9NyqfBxc?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/uAt9NyqfBxc/maxresdefault.jpg" data-sub-html="<h4>Madhumita Pandey</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/uAt9NyqfBxc/maxresdefault.jpg" alt=""/><span class="caption" >Madhumita Pandey</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/wBSE-nygcFU?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/wBSE-nygcFU/maxresdefault.jpg" data-sub-html="<h4>Tahira Kashyap Khurrana</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/wBSE-nygcFU/maxresdefault.jpg" alt=""/><span class="caption" >Tahira Kashyap Khurrana</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/pKDMedOHmso?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/pKDMedOHmso/maxresdefault.jpg" data-sub-html="<h4>Ankit Kawatra</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/pKDMedOHmso/maxresdefault.jpg" alt=""/><span class="caption" >Ankit Kawatra</span></a> </div>
              <div class="nav-item" data-src="http://www.youtube.com/embed/0N08Rh2RA3k?rel=0&amp;autoplay=1&amp;wmode=transparent" data-poster="http://img.youtube.com/vi/0N08Rh2RA3k/maxresdefault.jpg" data-sub-html="<h4>Sudhanshu Kaushik</h4>" ><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/0N08Rh2RA3k/maxresdefault.jpg" alt=""/><span class="caption" >Sudhanshu Kaushik</span></a> </div>
            </div>
          </div>
			
          
          	
			<div class="  light-blue-gradient" style="background-image: url('../../Content/work/images/ted-19-bg.png'); background-repeat: no-repeat; background-size: cover;" >
            <div class="creative-assets "  >
              <div class="container">
                <div class="assets-title" style="color: #f03442;">
                  <h3>A SPECIAL EPISODE FEATURING THE ACCESSIBILITY & DEMOCRATISATION OF EDUCATION MADE POSSIBLE THROUGH TECHNOLOGY STOOD OUT AS A KEY HIGHLIGHT</h3>
                </div>
               
				  <div class="three-img-carousel-wrapp" >
						<div class="three-img-carousel">
							<div> <div class="video-item">
                        <video poster="http://img.youtube.com/vi/T1vZ5-oIh7U/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/T1vZ5-oIh7U" type="video/youtube"/>
                        </video>
                      </div></div>
						<div> <div class="video-item">
                        <video poster="http://img.youtube.com/vi/JGY9N5OA3og/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                          <source src="https://youtu.be/JGY9N5OA3og" type="video/youtube"/>
                        </video>
                      </div></div>
				
							
							
						</div>
		
				 </div>
				  
              </div>
            </div>
          </div>
			
          
          <!--<div class="twitter-bg" >
            <div class="creative-assets  ">
              <div class="container">
                <div class="assets-title">
                  <h4>Multiple conversations around the show trended each weekend. </h4>
                </div>
                <div class="tw-tag-wrapp" >
                  <div class="tw-tag hvr-bob" > <img src="../../Content/work/images/ted-mentions-phone.png" alt="" class="fadeIn" data-t-show="1" />
                    <ul>
                      <li class="hvr-push" ><img src="../../Content/work/images/ted-tag1.png" alt="" class="fadeUp" data-t-show="1" /></li>
                      <li class="hvr-push" ><img src="../../Content/work/images/ted-tag2.png" alt="" class="fadeUp" data-t-show="2" /></li>
                      <li class="hvr-push"><img src="../../Content/work/images/ted-tag3.png" alt="" class="fadeUp" data-t-show="3" /></li>
                      <li class="hvr-push"><img src="../../Content/work/images/ted-tag4.png" alt="" class="fadeDown" data-t-show="1" /></li>
                      <li class="hvr-push"><img src="../../Content/work/images/ted-tag5.png" alt="" class="fadeDown" data-t-show="2" /></li>
                      <li class="hvr-push"><img src="../../Content/work/images/ted-tag6.png" alt="" class="fadeDown" data-t-show="3" /></li>
                      <li class="hvr-push"><img src="../../Content/work/images/ted-tag7.png" alt="" class="fadeDown" data-t-show="4" /></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>

    <div class="section white-bg">
    <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="../../Content/work/images/title-icon.png" alt=""/></i>
      <h2>Results</h2>
    </div>
    <div class="container bottom-padding-none">
      <div class="result-wrapp">
        <ul class="fadeUp t-infinity">
          <li class="col-4 hvr-float-shadow">
            <div class="result-info "> <span class="result-from">VIDEO VIEWS</span> <span class="result-points">1.8</span> <span class="result">MILLION</span> </div>
          </li>
          <li class="col-4 hvr-float-shadow">
            <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">13.4</span> <span class="result">MILLION</span> </div>
          </li>
          <li class="col-4 hvr-float-shadow">
            <div class="result-info "> <span class="result-from">ENGAGEMENTS</span> <span class="result-points">81</span> <span class="result">THOUSAND</span> </div>
          </li>
			 <li class="col-4 hvr-float-shadow">
            <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">14.6</span> <span class="result">MILLION</span> </div>
          </li>
        </ul>
      </div>
    </div>
  <!--  <div class="container">
      <div class="quotes-wrapp">
        <div class="quotes">
          <h3>With TED Talks India Nayi Soch, STAR Plus expanded the canvas of Nayi Soch beyond gender, and dived deep into the power of ideas across all walks of life. Sparkt helped us with this expansion of our brand philosophy to produce true influence across audiences in India with a multitude of content. From a series of social experiments to explore the show's themes, exclusive stories to establish speakers, promo marketing to specific TGs, the first of a kind Facebook Live interweaving offline content and much more. With a holistic approach, TED Talks India Nayi Soch campaign created a large-scale creative intervention in India inspiring millions. </h3>
          <span class="quotes-writer">Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat) </span> </div>
      </div>
    </div>-->
  </div>
</main>

