
@{
    ViewBag.Title = "Sparkt Work | TED TALKS Google Cards";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "TED TALKS Google Cards";
    ViewBag.MetaDescription = "Google Cards";
    ViewBag.MetaURL = "http://sparkt.in/work/TedGoogleCards";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/ted-thum.jpg";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ted-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/O7XbbSbK5p0" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ted-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>TED TALKS INDIA</h1>
                <div class="clear"></div>
                <span>Google Cards</span>
            </div>
        </div>



        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative ASSETS</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel red-base-bg ">
                <div class="slider">


                    <div class="blue-gradient-background ">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>INNOVATING ON GOOGLE SEARCH TO <br>ELEVATE THE DISCOVERY OF TED TALKS INDIA NAYI SOCH</h4>
                                </div>



                                <div class="google-card-blk">

                                    <div class="mobile">
                                        <img src="~/Content/work/images/ted-google-mobile.png" alt="">
                                        <ul>
                                            <li class="fadeLeft" data-t-show="1"> <img src="~/Content/work/images/ted-google-v1.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="2"> <img src="~/Content/work/images/ted-google-v2.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="3"> <img src="~/Content/work/images/ted-google-v3.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="4"> <img src="~/Content/work/images/ted-google-v4.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="5"> <img src="~/Content/work/images/ted-google-v5.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="6"> <img src="~/Content/work/images/ted-google-v6.png" alt=""></li>
                                            <li class="fadeLeft" data-t-show="7"> <img src="~/Content/work/images/ted-google-v7.png" alt=""></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-1 hvr-float-shadow">
                        <div class="result-info ">  <span class="result-points"><strong>302</strong>  Million Search requests with an Interaction Rate  of <strong>73.3%</strong></span> </div>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Coming Soon </h3>
                    <span class="quotes-writer"> </span>
                </div>
            </div>
        </div>*@
    </div>
</main>