
@{
    ViewBag.Title = "Sparkt Work | TriActive";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | TriActive";
    ViewBag.MetaDescription = "Be TriActiv Safe";
    ViewBag.MetaURL = "https://sparkt.in/work/triactive";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/triactive-thum.jpg";
}

    <main>
        <div class="section ">
            <div class="work-banner">
                <div class="banner-source">
                    <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/triactive-cover.jpg');"> </div>
                </div>
                <div class="head-title floated ">
                    <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                    <h1>TriActive</h1>
                    <div class="clear"></div>
                    <span>Be TriActiv Safe</span>
                </div>
            </div>
            @Html.Partial("_WorkMenu")
        </div>
        <div class="section">
            <div class="head-title floated ">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h2>Creative Experience</h2>
            </div>
            <div class="creative-assets-wrapp">
                <div class="assets-carousel piramal-triactive-bg ">
                    <div class="slider">
                        <div>
                            <div class="creative-assets ">
                                <div class="container">
                                    <div class="assets-title">
                                        <h3>
                                            Comprehensive, two-fold brand experience, enabling discovery and showcase of the product range.
                                            
                                        </h3>
                                    </div>
                                    <div class="website-operation">
                                        <figure class="figure-img"> <img src="/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                        <div class="desktop-video">
                                            <video id="desktop" poster="/Content/work/images/triactive-desktop.jpg" style="max-width: 100%; background-image: url('/Content/work/images/triactive-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                                <!-- <source  src="media/brickex-desktop.mp4" type="video/mp4" >-->

                                            </video>
                                            <script>document.getElementById( "desktop" ).controls = false;</script>
                                        </div>
                                        <div class="mobile-video">
                                            <video id="mobile" poster="/Content/work/images/triactive-mobile.jpg" style="max-width: 100%; background-image: url('/Content/work/images/triactive-mobile.jpg');" preload="none" controls="false" muted autoplay loop playsinline webkit-playsinline>
                                                <!-- <source  src="media/brickex-mob.mp4" type="video/mp4" >-->

                                            </video>
                                            <script>document.getElementById("mobile").controls = false;</script>
                                        </div>
                                        <!--                  <a href="https://www.pchf.in/" target="_blank" class="view-website" >VIEW WEBSITE</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white-bg">
            <!--   <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
              <h2>Results</h2>
            </div>-->

            <div class="container">
                <div class="quotes-wrapp">
                    <div class="quotes">
                        <h3>Coming Soon</h3>
                        <span class="quotes-writer"></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

