
@{
    ViewBag.Title = "Sparkt | USports | UCypher - Insta Fight";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | USports | UCypher - Insta Fight";
    ViewBag.MetaDescription = "Insta Fight";
    ViewBag.MetaURL = "http://sparkt.in/work/UCypher";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/ucypher-thum.jpg";
}
@section BodyClass {usports}
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "VideoObject",
    "name": "UCypher Video",
    "@@id": "https://www.sparkt.in/Content/work/media/insta-fight.mp4",
    "url":"https://www.sparkt.in/Content/work/media/insta-fight.mp4",
    "description": "Creating Gamers Delight With An Interactive Innovation on instagram storie",
    "duration": "T16S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/insta-fight-video-cover.jpg",
    "uploadDate":"05/01/2018"
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source" style="background-image: url(../Content/work/images/banners/instafight-bg.jpg);">
                <div class="banner-video hover-mover middle-align" style="background-image: url(../Content/work/images/banners/insta-fight-top.png);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>UCypher</h1>
                <div class="clear"></div>
                <span>Insta Fight</span>
            </div>           
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section ">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative ASSETS</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel insta-bg">
                <div class="slider">
                    <div>
                        <div class="creative-assets center">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Creating Gamers Delight With <br>	An Interactive Innovation on instagram stories</h3>

                                </div>
                                <div class="website-operation">


                                    <div class="mobile-video-container">
                                        <div class="mobile-video-wrapp hvr-bob">
                                            <img src="~/Content/work/images/mobile-vector.png" alt="" class="responsive-img" style="width: 100%; vertical-align: top;" />
                                            <div class="mobile-video">
                                                <video id="mobile" poster="~/Content/work/images/insta-fight-video-cover.jpg" style="max-width: 100%;" preload="none" controls="false" loop autoplay playsinline webkit-playsinline>
                                                    <source src="~/Content/work/media/insta-fight.mp4" type="video/mp4">
                                                </video>
                                                <script>document.getElementById("mobile").controls = false;
                                                </script>
                                            </div>
                                            <span class="insta-icon"><img src="~/Content/work/images/icons/insta-icon.png" alt="" style="width: 100%; vertical-align: top;" /></span>
                                        </div>
                                    </div>



                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">


                    <li class="col-2 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">engaged users were millennials</span> <span class="result-points">90%</span> <span class="result"></span> </div>
                    </li>
                    <li class="col-2 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">INSTAFIGHT ENGAGEMENT</span> <span class="result-points">134K</span><span class="result">ORGANIC GAME PLAYS</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Since the U Cypher community was largely made up of gamers & enthusiasts, largely millennials in the 15-23 age bracket, we looked at harnessing Instagram which is the platform of choice for this TG and released an engagement that exploited the Instagram Story ecosystem to create a seamless Tekken Battle using multiple frames strung together that the users could interact with. The aim of this activity was to drive Tune-ins and Views to the Grand Finals of the U Cypher tournament. And the results were way above our expectations. There’s an element of freshness in approach which I haven’t seen with most creative partners.</h3>
                    <span class="quotes-writer">Jason Nath - VP Marketing – U Sports</span>
                </div>
            </div>
        </div>
    </div>
</main>
