
@{
    ViewBag.Title = "Sparkt Work | UCypher";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "UCypher";
    ViewBag.MetaDescription = "Naya Sport. Naye Superstars";
    ViewBag.MetaURL = "http://sparkt.in/work/UCypherUseOfData";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/ucypher-thum.jpg";
}

<main>
    <div class="section">
        <div class="work-banner">

            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ucypher-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/oI9wi82JaLs" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ucypher-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>UCypher</h1>
                <div class="clear"></div>
                <span>Naya Sport. Naye Superstars.</span>
            </div>
        </div>

        <!--  <div class="awards-wrap">
             <ul>
            <li class="tooltip" title="ABBYS: 18.B Youth Marketing - Silver"><img src="images/awards/abbys-silver.png" class="responsive-img" alt=""/> </li>
          </ul>
          </div>-->
       @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Real-time Dashboard</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  cypher-bg ">
                <div class="slider">


                    <div>
                        <div class="creative-assets darkpurple-bg ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Augmenting data signals across platforms in real-time to react with <br>corresponding content and communication </h3>
                                </div>
                                <div class="sparkt-carousel image-slider">
                                    <div class="mobile-wrapp ">
                                        <!-- <span class="chaitu-elem elem-7" ><img src="images/chaitulala-elem-7.png" alt=""/></span>-->

                                        <div class="video-slider ">
                                            <div>
                                                <img src="~/Content/work/images/ucypher-data-slide-1.jpg" alt="">
                                            </div>
                                            <div>
                                                <img src="~/Content/work/images/ucypher-data-slide-2.jpg" alt="">
                                            </div>
                                            <div>
                                                <img src="~/Content/work/images/ucypher-data-slide-3.jpg" alt="">
                                            </div>

                                            <div>
                                                <img src="~/Content/work/images/ucypher-data-slide-4.jpg" alt="">
                                            </div>

                                            <div>
                                                <img src="~/Content/work/images/ucypher-data-slide-5.jpg" alt="">
                                            </div>


                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-trim"> <img src="~/Content/work/images/ucypher-data-slide-1.jpg" alt=""></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"> <img src="~/Content/work/images/ucypher-data-slide-2.jpg" alt=""></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"> <img src="~/Content/work/images/ucypher-data-slide-3.jpg" alt=""></a> </div>

                                        <div class="nav-item"><a href="#" class="hvr-trim"> <img src="~/Content/work/images/ucypher-data-slide-4.jpg" alt=""></a> </div>
                                        <div class="nav-item"><a href="#" class="hvr-trim"> <img src="~/Content/work/images/ucypher-data-slide-5.jpg" alt=""></a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets darkpurple-bg ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>LEVERAGING REAL-TIME CONTENT REACTIONS DATA <br>TO RESPOND WITH NEW CONTENT TO STRENGTHEN AFFINITY</h3>
                                </div>
                                <div class="insta-gallery">
                                    <img src="~/Content/work/images/ucypher-data-slide-6.png" alt="">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-slider-wrapp">
                <div class="result-slider">
                    <div> <img src="~/Content/work/images/ucypher-result-1.jpg" alt=""></div>
                    <div> <img src="~/Content/work/images/ucypher-result-2.jpg" alt=""></div>
                </div>
            </div>
        </div>

        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">Views</span> <span class="result-points">29</span> <span class="result">Million</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">03</span><span class="result">Million</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">124</span> <span class="result">Million</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info ">
                            <span class="result-from">NATIONAL TRENDS</span> <span class="result">
                                #UCYPHER,
                                #HUMGAMERHAIN &
                                #DOTHECYPHER
                            </span>
                        </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">COMMUNITY</span> <span class="result-points">878K</span>  ACROSS SOCIAL PLATFORMS</div>
                    </li>
                    <li class="col-3 hvr-float-shadow last-child ">
                        <div class="result-info ">
                            <span class="result-from">HAND-RAISERS </span> <span class="result-points">4K+</span> ANTICIPATION FOR
                            THE NEXT SEASON
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <!--<div class="quotes-wrapp">
              <div class="quotes">
                <h3>Coming Soon
                  </h3>
                <span class="quotes-writer"></span> </div>
            </div>-->
        </div>
    </div>
</main>
