
@{
    ViewBag.Title = "Sparkt Work | UCypher Use Of Data";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">

            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/ucypher-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/-8NJ2FePRkU" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/ucypher-cover.jpg);"> </div>
            </div>



            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>UCypher</h1>
                <div class="clear"></div>
                <span>Naya Sport. Naye Superstars.</span>
            </div>
        </div>

        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="ABBYS: 18.B Youth Marketing - Silver"><img src="~/Content/work/images/awards/abbys-silver.png" class="responsive-img" alt="" /> </li>
            </ul>
        </div>
        @Html.Partial("_WorkMenu");

    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative ASSETS</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel  cypher-bg ">
                <div class="slider">






                    <div class="lightgallery-single play-icon" style="background-image: url(../Content/work/images/u-cypher-creative-assets.jpg); background-color: #2b1150; background-position: top center; position: relative; background-repeat: no-repeat; background-size:cover">

                        <a class="creative-assets-video" href="http://www.youtube.com/embed/Z1IBxG7kR7Y?rel=0&amp;autoplay=1&amp;wmode=transparent" data-sub-html="<h4>Hum Gamer Hain an anthem for the gamers introducing them <br>to the thrilling world of UCypher </h4>">

                            <div class="creative-assets   center fixed-bg bottom cypher-water-flow " style="background-image: url(../Content/work/images/u-cypher-creative-assets-water-flow.png);">

                                <div class="container ">
                                    <div class="assets-title">
                                        <h4>Hum Gamer Hain - an anthem for the gamers introducing them <br>to the thrilling world of UCypher </h4>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="video-carousel">
                        <div class="creative-assets  ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Exclusive digital extensions of the television promos <br>to break the stereotypes of "Indian gamers" </h4>
                                </div>


                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/YfuCIgh_DQk/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/YfuCIgh_DQk" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/hNrOotKWqUA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/hNrOotKWqUA" type="video/youtube" />
                                        </video>
                                    </div>


                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/qoGOXK9Dsf8/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/qoGOXK9Dsf8" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/GjwNSOFupFA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/GjwNSOFupFA" type="video/youtube" />
                                        </video>
                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="video-nav">
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/YfuCIgh_DQk/maxresdefault.jpg" alt="" /><span class="caption">Digital Exclusive Promo CSGO</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/hNrOotKWqUA/maxresdefault.jpg" alt="" /><span class="caption">Digital Exclusive Promo DOTA</span></a> </div>


                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/qoGOXK9Dsf8/maxresdefault.jpg" alt="" /><span class="caption">TEKKEN 7 | The New Battleground</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/GjwNSOFupFA/maxresdefault.jpg" alt="" /><span class="caption">DOTA 2 | The New Battleground</span></a> </div>

                        </div>

                    </div>

                    <div class="video-carousel">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>Introducing the 6 teams and their captains <br>debuting on UCypher with digital exclusive films </h4>
                                </div>


                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/XshSDUkyu5g/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/XshSDUkyu5g" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/2o-68KzIbts/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/2o-68KzIbts" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/gcMZXXV53X4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/gcMZXXV53X4" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/NhjqfFL7uWA/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/NhjqfFL7uWA" type="video/youtube" />
                                        </video>
                                    </div>

                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/v5KLru8pVEo/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/v5KLru8pVEo" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="~/Content/work/images/u-cypher-akshay-akramaks.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/TT-1xTk4Z4E" type="video/youtube" />
                                        </video>
                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="video-nav">
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/XshSDUkyu5g/maxresdefault.jpg" alt="" /><span class="caption">Ankit | Captain - Marksmen </span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/2o-68KzIbts/maxresdefault.jpg" alt="" /><span class="caption">Vivek | Captain - Yakshas</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/gcMZXXV53X4/maxresdefault.jpg" alt="" /><span class="caption">Atul | Captain - Crusaders</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/NhjqfFL7uWA/maxresdefault.jpg" alt="" /><span class="caption">Pranay | Captain - Yodhas</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/v5KLru8pVEo/maxresdefault.jpg" alt="" /><span class="caption">Ritesh | Captain - Sherdils</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="images/u-cypher-akshay-akramaks.jpg" alt="" /><span class="caption">Akshay | Captain - Akramaks</span></a> </div>

                        </div>

                    </div>

                    <div class="video-carousel">
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>The world of UCypher unravelled on social media with <br>live and innovative formats, influencer content and digital exclusives </h4>
                                </div>


                                <div class="video-slider">
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/Iip0Ux2Tty4/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/Iip0Ux2Tty4" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/BAERor1SZyE/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/BAERor1SZyE" type="video/youtube" />
                                        </video>
                                    </div>



                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/5ghMbNzQNjY/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/5ghMbNzQNjY" type="video/youtube" />
                                        </video>
                                    </div>
                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/HEIvySNZB_U/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/HEIvySNZB_U" type="video/youtube" />
                                        </video>
                                    </div>


                                    <div class="video-item">
                                        <video poster="http://img.youtube.com/vi/1LvaufoRJQg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                            <source src="https://youtu.be/1LvaufoRJQg" type="video/youtube" />
                                        </video>
                                    </div>



                                </div>


                            </div>

                        </div>



                        <div class="video-nav">
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/Iip0Ux2Tty4/maxresdefault.jpg" alt="" /><span class="caption">What is #UCYPHER?</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/BAERor1SZyE/maxresdefault.jpg" alt="" /><span class="caption">Hoezaay Indian Counter Strike Players Be Like</span></a> </div>

                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/5ghMbNzQNjY/maxresdefault.jpg" alt="" /><span class="caption">Triple Kill</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/HEIvySNZB_U/maxresdefault.jpg" alt="" /><span class="caption">Perfect Gameplay</span></a> </div>
                            <div class="nav-item"><a href="#" class="hvr-trim"><img src="http://img.youtube.com/vi/1LvaufoRJQg/maxresdefault.jpg" alt="" /><span class="caption">KO</span></a> </div>

                        </div>

                    </div>

                    <div>
                        <div class="creative-assets center">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Crafting season greetings with a hardcore gaming context delivered through innovative storytelling</h3>
                                </div>

                                <div class="mobile-style-carousel cypher-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="images/mobile-slider.png" alt="" class="mobile-vector" />

                                        <div class="vector1 filter"> <img src="~/Content/work/images/ucypher-vector1.png" alt="" /> </div>
                                        <div class="vector1a filter"> <img src="~/Content/work/images/ucypher-vector1a.png" alt="" /> </div>
                                        <div class="vector1b filter"> <img src="~/Content/work/images/ucypher-vector1b.png" alt="" /> </div>
                                        <div class="vector2 filter2"> <img src="~/Content/work/images/ucypher-vector2.png" alt="" /> </div>
                                        <div class="vector2a filter2"> <img src="~/Content/work/images/ucypher-vector2a.png" alt="" /> </div>

                                        <div class="video-slider">



                                            <div class="video-item">
                                                <video poster="~/Content/work/images/ucypher-christmas.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/dSS1VP3HrII" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/ucypher-diwali.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/LBW30apBn94" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/ucypher-new-year.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/b3CjQvkiLg0 " type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-grow-shadow "><img src="~/Content/work/images/ucypher-christmas.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-grow-shadow "><img src="~/Content/work/images/ucypher-diwali.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-grow-shadow "><img src="~/Content/work/images/ucypher-new-year.jpg" alt="" /></a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets center ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Showcasing emerging sports, <br>teams and sporting stars in all their glory.</h3>
                                </div>
                                <div class="three-img-carousel-wrapp">
                                    <div class="three-img-carousel single-video">
                                        <div>
                                            <div class="video-item">
                                                <video poster="http://img.youtube.com/vi/JoxQypmFOXg/maxresdefault.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/JoxQypmFOXg" type="video/youtube" />
                                                </video>
                                            </div>
                                        </div>

                                    </div>
                                    <ul class="devising-twitt">
                                        <li class="fadeLeft undefined t-animated t-default" data-t-show="2" style="opacity: 1;"><img src="~/Content/work/images/u-cypher-twitt-5.jpg" alt=""></li>
                                        <li class="fadeUp undefined t-animated t-default" data-t-show="3" style="opacity: 1;"><img src="~/Content/work/images/u-cypher-twitt-4.jpg" alt=""></li>
                                        <li class="fadeUp undefined t-animated t-default" data-t-show="4" style="opacity: 1;"><img src="~/Content/work/images/u-cypher-twitt-3.jpg" alt=""></li>
                                        <li class="fadeRight undefined t-animated t-default" data-t-show="5" style="opacity: 1;"><img src="~/Content/work/images/u-cypher-twitt-2.jpg" alt=""></li>
                                        <li class="fadeDown undefined t-animated t-default" data-t-show="6" style="opacity: 1;"><img src="~/Content/work/images/u-cypher-twitt-1.jpg" alt=""></li>
                                    </ul>


                                </div>


                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="creative-assets brown-bg ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>
                                        Augmenting data signals across platforms in real-time to react with
                                        corresponding content and communication
                                    </h3>
                                </div>
                                <div class="insta-gallery">
                                    <img src="~/Content/work/images/insta-data.png" alt="" />
                                    <ul>
                                        <li><img src="~/Content/work/images/insta-data-1.png" alt="" class="hvr-grow" /></li>
                                        <li><img src="~/Content/work/images/insta-data-2.png" alt="" class="hvr-grow" /></li>
                                        <li><img src="~/Content/work/images/insta-data-3.png" alt="" class="hvr-grow" /></li>
                                        <li><img src="~/Content/work/images/insta-data-4.png" alt="" class="hvr-grow" /></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container bottom-padding-none">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">ENGAGEMENT</span> <span class="result-points">3</span> <span class="result">MILLION+</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">124</span><span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">178</span> <span class="result">MILLION</span> </div>
                    </li>
                    <li class="col-4 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">COMMUNITY</span> <span class="result-points">878</span> <span class="result">THOUSAND</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        The U Cypher ‘Naya Sport Naye superstars’ campaign is one of the most extensive campaigns done at USports. The objective was to introduce E-sports as a new sports discipline. Also, to present the superstars of tomorrow, budding E-Athletes to the nation.<br>
                        Sparkt has been brilliant with the thought behind the campaign. The campaign line was simple and took the messaging right through.  What followed was a culmination of beautifully thought out ideas and creatives across platforms. Even the music video ‘Hum Gamer Hain’ got us international acclaim. This not only helped us get the desired reach and engagement but almost twice over and helped us built a highly engaged community from scratch. There’s an element of freshness in approach which I haven’t seen with most agencies.
                    </h3>
                    <span class="quotes-writer">Jason Nath - VP Marketing - USports</span>
                </div>
            </div>
        </div>
    </div>
</main>
