
@{
    ViewBag.Title = "Sparkt | USports | Scratch";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | USports - Scratch";
    ViewBag.MetaDescription = "Scratch to unlock the website";
    ViewBag.MetaURL = "https://sparkt.in/work/USportsScratch";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/usports-scratch-thum.jpg";
}
@section BodyClass {usports}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "VideoObject",
    "name": "Scratch Video",
    "@@id": "https://www.sparkt.in/Content/work/media/usports-scratch.mp4",
    "url":"https://www.sparkt.in/Content/work/media/usports-scratch.mp4",
    "description": "Scratch to unlock the website",
    "duration": "T6S",
    "thumbnailUrl":"https://www.sparkt.in/Content/work/images/banners/usports-scratch.jpg",
    "uploadDate":"05/01/2018"
    }
</script>
<main>
    <div class="section">
        <div class="work-banner">

            <div class="banner-source autoplay-wrapp">
                <div class="banner-video ">
                    <video id="autoplay-video" poster="~/Content/work/images/banners/usports-scratch.jpg" style="max-width: 100%; " preload="none" autoplay muted loop controls="false" playsinline webkit-playsinline>
                        <source type="video/mp4" src="~/Content/work/media/usports-scratch.mp4" />
                    </video>
                    <script> document.getElementById( "autoplay-video" ).controls = false;
                    </script>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/usports-scratch.jpg);"> </div>
            </div>


            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>USports</h1>
                <div class="clear"></div>
                <span>Scratch to unlock the website</span>
            </div>
        </div>
        @Html.Partial("_WorkMenu")


    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel black-orange-bg ">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <!-- <div class="assets-title">
                                                  <h3>DISRUPTIONS ON GOOGLE AND YOUTUBE TO EXPERIENCE <br>
                                THE FILMS AND CREATE A VIRTUAL JERSEY</h3>
                                                </div>-->
                                <div class="mobile-experience">
                                    <figure>
                                        <div class="sample-mobile vibrate-img">
                                            <img src="~/Content/work/images/usports-hamburger-phone.png" alt="" />
                                        </div>
                                        <figcaption>
                                            <a class="hvr-sweep-to-right" href="https://www.usports.in/scratch" target="_blank">experience creative</a>
                                            <div class="clear"></div>
                                            <span class="hvr-sweep-to-right">ONLY FOR Mobile PHONES </span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="container">
            @*<div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        Coming Soon
                    </h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>*@
        </div>
    </div>
</main>
