
@{
    ViewBag.Title = "Sparkt Work | USports - Hamburger";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video middle-align" style="background-image: url(../Content/work/images/banners/usports-hamnurger-cover.jpg);">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>USports</h1>
                <div class="clear"></div>
                <span>Hamburger</span>
            </div>
            @Html.Partial("_WorkMenu");
        </div>

    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url(../Content/work/images/banners/usports-cover.jpg);">
                <div class="slider">

                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <!-- <div class="assets-title">
                                                  <h3>DISRUPTIONS ON GOOGLE AND YOUTUBE TO EXPERIENCE <br>
                                THE FILMS AND CREATE A VIRTUAL JERSEY</h3>
                                                </div>-->
                                <div class="mobile-experience">
                                    <figure>
                                        <div>
                                            <img src="~/Content/work/images/usports-scratch-phone.png" alt="" />
                                        </div>
                                        <figcaption>
                                            <a class="hvr-sweep-to-right" href="#" target="_blank"> experience creative</a>
                                            <div class="clear"></div>
                                            <span class="hvr-sweep-to-right">ONLY FOR <span>Mobile PHONES</span></span>


                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>
                        Coming Soon
                    </h3>
                    <span class="quotes-writer"></span>
                </div>
            </div>
        </div>
    </div>
</main>