
@{
    ViewBag.Title = "Sparkt | Star Plus | Women’s Day";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Star Plus | Women’s Day";
    ViewBag.MetaDescription = "Igniting a Nayi Soch to break gender stereotypes";
    ViewBag.MetaURL = "http://sparkt.in/work/WomensDay";
    ViewBag.MetaImage = "http://sparkt.in/Content/work/images/thums/womens-day-thum.jpg";
}
@section BodyClass {star-plus}
<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video">
                    <video class="bannerplayer" poster="~/Content/work/images/banners/womens-day-cover.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                        <source type="video/youtube" src="https://youtu.be/OcuXIpH4REw" />
                    </video>
                </div>
                <div class="banner-image" style="background-image: url(../Content/work/images/banners/womens-day-cover.jpg);"> </div>
            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Women’s Day</h1>
                <div class="clear"></div>
                <span>Igniting a Nayi Soch to break gender stereotypes</span>
            </div>          
        </div>
      
        <div class="awards-wrap">
            <ul>
                <li class="tooltip" title="DIGIXX: Best Use of Video - Gold"><img src="~/Content/work/images/awards/digx-gold.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="ACEF: CSR - Gold"><img src="~/Content/work/images/awards/acef-gold.png" class="responsive-img" alt="" /> </li>
                <li class="tooltip" title="CAMPAIGN INDIA: Social Cause - Supported by Brand - Bronze"><img src="~/Content/work/images/awards/campaign-india-bronz.png" class="responsive-img" alt="" /></li>
            </ul>
        </div>
        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated  ">
            <i class="title-icon"><img src="~/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel google-twitter-bg">
                <div class="slider">
                    <div>
                        <div class="creative-assets" style="background-image: url(~/Content/work/images/star-bg.jpg);">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>STAYING TRUE TO THE HIGH CINEMATIC AND EMOTIONAL VALUE OF THE MOVIE WITH DYNAMIC CONTENT FORMATS.</h3>
                                </div>

                                <div class="mobile-style-carousel">
                                    <div class="mobile-wrapp">
                                        <img src="~/Content/work/images/mobile-slider.png" alt="" class="mobile-vector" />
                                        <div class="video-slider">
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-devendra-and-akshali-shah.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/sFnu73QKhDU" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-manmohan-and-aarati-shetty.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/1iBLv-eUMOw" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-rajiv-and-sakshi-vij.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/8mJg2RlE2Hc" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-ramesh-anushre-tainwala.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/0jY50pY6ayY" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-rana-and-roshni-kapoor.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/ClhdAVB5HhM" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-sam-and-lara-balsara.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/Hk1bUXzxry8" type="video/youtube" />
                                                </video>
                                            </div>
                                            <div class="video-item">
                                                <video poster="~/Content/work/images/video-thums/womens-subhash-and-meghna-ghai.jpg" style="max-width: 100%; " preload="none" controls playsinline webkit-playsinline>
                                                    <source src="https://youtu.be/mtMSV3xILfE" type="video/youtube" />
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="video-nav">
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-devendra-and-akshali-shah.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-manmohan-and-aarati-shetty.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-rajiv-and-sakshi-vij.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-ramesh-anushre-tainwala.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-rana-and-roshni-kapoor.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-sam-and-lara-balsara.jpg" alt="" /></a></div>
                                        <div class="nav-item"><a href="#" class="hvr-float-shadow"><img src="~/Content/work/images/video-thums/womens-subhash-and-meghna-ghai.jpg" alt="" /></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="creative-assets twitter-bg">
                            <div class="container">
                                <div class="assets-title">
                                    <h4>INNOVATIVE USE OF TWITTER CARDS WITH VIDEO QUOTES FROM INSPIRATIONAL DAD DAUGHTER PAIRS INVITING USERS TO SUPPORT NAYI SOCH IN TURN GETTING A RESPONSE WITH THE FULL VIDEO</h4>
                                </div>
                                <div class="twitter-tweets">
                                    <ul>
                                        <li class="col-3">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/womens-twitter-tweets-1.jpg" alt=""></span>
                                                <figcaption>STAR PLUS INVITES USERS <br>TO ENDORSE NAYI SOCH</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-3">
                                            <figure class="hvr-bubble-float-right">
                                                <span><img src="~/Content/work/images/womens-twitter-tweets-2.jpg" alt=""></span>
                                                <figcaption>FULL VIDEO IS SHARED <br>WITH THE USER</figcaption>
                                            </figure>

                                        </li>
                                        <li class="col-3">
                                            <figure class="hvr-bubble-float-left">
                                                <span><img src="~/Content/work/images/womens-twitter-tweets-3.jpg" alt=""></span>
                                                <figcaption>AUTO-TWEET FROM USER’S <br>PROFILE IS PUBLISHED</figcaption>
                                            </figure>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div>
                        <div class="creative-assets ">
                            <div class="container">

                                <div class="mobile-video-experience">

                                    <div class="google-logo"><i class="fa fa-google"></i></div>

                                    <figure>
                                        <div class="iPhone-img">
                                            <img src="~/Content/work/images/i-phone.png" alt="" />
                                        </div>
                                        <figcaption>
                                            <p>
                                                FIRST-OF-A-KIND INTEGRATED BANNER INNOVATION
                                                TO SHOWCASE CURATED TWITTER CONVERSATIONS WITH <strong>#NAYISOCH</strong> ON THE GOOGLE DISPLAY NETWORK
                                            </p>
                                        </figcaption>
                                    </figure>

                                    <div class="twitter-logo"><i class="fa fa-twitter"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="head-title floated text-color-dark">
            <i class="title-icon"><img src="images/title-icon.png" alt="" /></i>
            <h2>Results</h2>
        </div>
        <div class="container">
            <div class="result-wrapp">
                <ul class="fadeUp t-infinity">
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">Video Views</span> <span class="result-points">68</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">REACH</span> <span class="result-points">3.7</span> <span class="result">MILLION +</span> </div>
                    </li>
                    <li class="col-3 hvr-float-shadow">
                        <div class="result-info "> <span class="result-from">IMPRESSIONS</span> <span class="result-points">130</span> <span class="result">MILLION</span> </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="quotes-wrapp">
                <div class="quotes">
                    <h3>Star Plus continuously strives towards unlocking the limitless power of women. On Women’s Day, Sparkt ignited a Nayi Soch to raise a question and spark conversations through digital innovations and thought-provoking content.</h3>
                    <span class="quotes-writer">- Aijaz Nakhuda, Digital Marketing Head Star HGEC (STAR Plus & STAR Bharat)</span>
                </div>
            </div>
        </div>
    </div>

</main>
