
@{
    ViewBag.Title = "Sparkt | Yaarii";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
    ViewBag.MetaTitle = "Sparkt | Yaarii";
    ViewBag.MetaDescription = "A first of its kind instant personal loan app.";
    ViewBag.MetaURL = "https://sparkt.in/work/Yaarii";
    ViewBag.MetaImage = "https://sparkt.in/Content/work/images/thums/yaarii-thum.jpg";
}
@section BodyClass {indiabulls}

<main>
    <div class="section">
        <div class="work-banner">
            <div class="banner-source">
                <div class="banner-video  middle-align" style="background-image: url('/Content/work/images/banners/yaarii-cover.jpg');">
                </div>

            </div>
            <div class="head-title floated">
                <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
                <h1>Yaarii</h1>
                <div class="clear"></div>
                <span>A first of its kind instant personal loan app</span>
            </div>
        </div>


        @Html.Partial("_WorkMenu")
    </div>
    <div class="section">
        <div class="head-title floated ">
            <i class="title-icon"><img src="/Content/work/images/title-icon.png" alt="" /></i>
            <h2>Creative Assets</h2>
        </div>
        <div class="creative-assets-wrapp">
            <div class="assets-carousel fixed " style="background-image: url('/Content/work/images/yaarii-bg.jpg');">
                <div class="slider">
                    <div>
                        <div class="creative-assets ">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Revised Visual Vocabulary with an enhanced interaction and transaction experience.</h3>
                                </div>
                                <div class="website-operation">
                                    <figure class="figure-img"> <img src="~/Content/work/images/banner-video-trans.png" alt="brickex" class="responsive-img" style="width: 100%; vertical-align: top;" /> </figure>
                                    <div class="desktop-video">


                                        <video id="desktop"  style="max-width: 100%; background-image: url('/Content/work/images/yaarii-desktop.jpg');" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                              <source  src="~/Content/work/media/yaarii-desktop.mp4" type="video/mp4" >

                                        </video>
                                        <script>
                                            document.getElementById("desktop").controls = false;
                                        </script>
                                    </div>
                                    <div class="mobile-video">
                                        <video id="mobile" style="max-width: 100%; background-image: url('/Content/work/images/yaarii-mobile.jpg" preload="none" controls="False" muted autoplay loop playsinline webkit-playsinline>
                                            <source  src="~/Content/work/media/yaarii-mobile.mp4" type="video/mp4" >

                                        </video>
                                        <script>
                                            document.getElementById("mobile").controls = false;
                                        </script>
                                    </div>

                                    <a href="http://madebysparkt.com/yaarii/home" target="_blank" class="view-website">VIEW WEBSITE</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="creative-assets">
                            <div class="container">
                                <div class="assets-title">
                                    <h3>Redefined the consumer & brand experience.</h3>
                                </div>
                                <div class="mobile-experience center-mobile">
                                    <figure>
                                        <div class="vibrate-img sample-mobile">
                                            <img src="/Content/work/images/yaarii-mobile-creative.png" alt="" />
                                        </div>

                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section white-bg">
     <div class="head-title floated text-color-dark"> <i class="title-icon"><img src="images/title-icon.png" alt=""/></i>
        <h2>Results</h2>
      </div>

      <div class="container">
        <div class="quotes-wrapp">
          <div class="quotes">
            <h3>Coming Soon</h3>
            <span class="quotes-writer"></span> </div>
        </div>
      </div>
    </div>-->
</main>
