
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<main class="leadpage">
    <div class="main-wrapper z-depth-1">
        <div class="page-title">
            <span class="title">Dashboard</span>
            <div class="divider"></div>
        </div>
        <div class="wrapper">
            <div class="pages-wrapp">
                <div class="row">
                    <div class="col s12">
                        <div class="lead-wrapp">
                            <div class="head-section actions-blk">
                                <div class="row remove-margin">

                                </div>
                            </div>
                            <div class="body-section">
                                <div style="overflow:auto">

                                </div>
                            </div>
                            <div class="footer-section">

                                <div class="row ">

                                    <div class="col s12  m6 left ">

                                    </div>
                                    <div class="col s12 m6 right" style="text-align:right;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>