
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<main class="navigation-page">
    <div class="main-wrapper z-depth-1">
        <div class="container">


        </div>
    </div>
</main>